<div id='basic-expressions' class='content-section-a'>
    <div class='container'>
        <div class='row'>
            <div style="font-size: 1.0em; font-style: italic;"  class='col-md-10'>
                <p>
                    eEksperimenti uporabljajo računalniško-merilno kartico za zajem in generiranje električnih signalov. Pri razlagi eksperimentov bomo pogosto uporabljali pojme, kot so napetost, tok, moč, energija, osciloskop, signal, perioda, frekvenca ipd. Za boljše razumevanje vseh pojmov smo pripravili razlage v obliki kratkih video posnetkov. Na koncu vsakega posnetka je na voljo še kratek kviz. Označite pravilne odgovore in na koncu kviza kliknite <em>Preveri odgovore</em>. Pri pravilnih odgovorih se bo prikazala zelena kljukica, pri napačnih pa se bodo pravilni odgovori obarvali zeleno.
                </p>
            </div>
        </div>

        <!-- ELEKTRIČNI NABOJ IN ELEKTRIČNI VIRI -->
        <div class='row'>
            <h2 class='section-heading'>Električni naboj in električni viri</h2>
            <hr>
            <div style="font-size: 1.3em;" class='col-md-10'>
                <p style="" class="lead">
                    Ta video je namenjen razlagi pojmov, kot so elektron, proton, nevtron, električni naboj in sila med naboji. Tu se »skriva« temelj električnih pojavov. Kratko, 6-minutno razlago bo podal prof. dr. Dejan Križaj s Fakultete za elektrotehniko.<br /><br />
                </p>
            </div>
            <div class='col-md-9'>
                <video class='exp_video' width='100%' controls>
                    <source src='video/el_naboj_el_viri.mp4'>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="panel panel-default">
            <a data-toggle="collapse" href="#panel1">
                <div class="panel-heading"><h4>Kviz za osnovnošolce</h4></div>
            </a>
            <div id="panel1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class='row' id="quiz1">
                        <div class='col-lg-12'>
                            <div class="emc-score"></div>
                            <section data-quiz-item>
                                <div class="question">1. Iz česa so sestavljeni atomi?</div>
                                <div class="choices" data-choices='["Iz elektronov, nevtronov in prijonov.",
                                                                    "Iz elektronov in protonov.",
                                                                    "Iz protonov, elektronov in nevtronov."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">2. Poišči pravilen odgovor.</div>
                                <div class="choices" data-choices='["Običajno je v atomu več protonov kot elektronov.",
                                                                   "Običajno je v atomu več elektronov kot protonov.",
                                                                   "Običajno je v atomu število protonov enako številu elektronov."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">3. Označi pravilne odgovore.</div>
                                <div class="choices" data-choices='["Med dvema elektronoma je sila odbojna.",
                                                                    "Med elektronom in protonom je sila odbojna.",
                                                                    "Med dvema protonoma je sila privlačna.",
                                                                    "Med elektronom in nevtronom je sila odbojna.",
                                                                    "Med nevtronom in protonom je sila privlačna."]'>
                                </div>
                            </section>

                            <div class="submit">
                                <button class="btn emc-submit">Preveri odgovore</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <a data-toggle="collapse" href="#panel2">
                <div class="panel-heading"><h4> Kviz za srednješolce</h4></div>
            </a>
            <div id="panel2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class='row' id="quiz2">
                        <div class='col-lg-12'>
                            <div class="emc-score"></div>
                            <section data-quiz-item>
                                <div class="question">1. Iz česa so sestavljeni atomi?</div>
                                <div class="choices" data-choices='["Iz elektronov, nevtronov in prijonov.",
                                                                        "Iz elektronov in protonov.",
                                                                        "Iz protonov, elektronov in nevtronov."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">2. Poišči pravilen odgovor.</div>
                                <div class="choices" data-choices='["Običajno je v atomu več protonov kot elektronov.",
                                                                       "Običajno je v atomu več elektronov kot protonov.",
                                                                       "Običajno je v atomu število protonov enako številu elektronov."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">3. Označi pravilne odgovore.</div>
                                <div class="choices" data-choices='["Med dvema elektronoma je sila odbojna.",
                                                                        "Med elektronom in protonom je sila odbojna.",
                                                                        "Med dvema protonoma je sila privlačna.",
                                                                        "Med elektronom in nevtronom je sila odbojna.",
                                                                        "Med nevtronom in protonom je sila privlačna."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">4. Kako imenujemo tirnice, po katerih se gibljejo elektroni okoli jedra?</div>
                                <div class="choices" data-choices='["Ekliptične tirnice.",
                                                                        "Eliptične tirnice.",
                                                                        "Orbitale."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">5. Katero enoto uporabimo za množino naboja (ime in simbol)?</div>
                                <div class="choices" data-choices='["Coulon ali Coulomb, C.",
                                                                        "Mol, Mol.",
                                                                        "Kandela, Cd."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">6. Kolikšen je naboj elektrona?</div>
                                <div class="choices" data-choices='["-6.24 ∙ 10<sup>-18</sup> C",
                                                                        "-1,6 ∙ 10<sup>-19</sup> C",
                                                                        "6.022 ∙ 10<sup>-23</sup> C"]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">7. Kako upada sila med naboji z razdaljo?</div>
                                <div class="choices" data-choices='["S četrto potenco razdalje.",
                                                                        "Linearno z razdaljo.",
                                                                        "S kvadratom razdalje."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">8. Če ima telo presežek naboja 20 mC, koliko elektronov manjka na telesu, da bi bilo to električno nevtralno (s skupnim nabojem 0 C)?</div>
                                <div class="choices" data-choices='["1,25 ∙ 10<sup>18</sup>",
                                                                        "0,125 ∙ 10<sup>18</sup>",
                                                                        "125 ∙ 10<sup>18</sup>"]'>
                                </div>
                            </section>

                            <div class="submit">
                                <button class="btn emc-submit">Preveri odgovore</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class='.col-md-3 limit-line'>
            <i class='fa fa-circle'></i>&nbsp&nbsp&nbsp<i class='fa fa-circle'></i>&nbsp&nbsp&nbsp<i class='fa fa-circle'></i>
        </div>


        <!-- PREVODNIKI IN IZOLATORJI -->
        <div class='row'>
            <h2 class='section-heading'>Prevodniki in izolatorji (OŠ)</h2>
            <hr>
            <div style="font-size: 1.3em;" class='col-md-10'>
                <p style="" class="lead">
                    V nekaterih materialih se elektroni zlahka gibljejo, v drugih pa zelo težko ali sploh ne. Zakaj je tako, izveste na tem posnetku.
                </p>
            </div>
            <div style="" class='img-div col-md-9'>
                <video class='exp_video' width='100%'  controls>
                    <source src='video/prevodniki_in_izolatorji.mp4' type='video/mp4'>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="panel panel-default">
            <a data-toggle="collapse" href="#panel3">
                <div class="panel-heading"><h4>Kviz za osnovnošolce</h4></div>
            </a>
            <div id="panel3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class='row' id="quiz3">
                        <div class='col-lg-12'>
                            <div class="emc-score"></div>
                            <section data-quiz-item>
                                <div class="question">1. Kako razdelimo snovi glede na možnosti prevajanja elektronov?</div>
                                <div class="choices" data-choices='["Na prevodnike in neprevodnike.",
                                                                        "Na prevajalnike in neprevajalnike.",
                                                                        "Na prevodnike in izolatorje."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">2. Katere snovi ne prevajajo dobro elektronov?</div>
                                <div class="choices" data-choices='["Izolatorji.",
                                                                        "Prevodniki."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">3. Kako hitro potujejo elektroni po prevodnikih?</div>
                                <div class="choices" data-choices='["Zelo hitro (več kot 100 km/uro).",
                                                                        "Srednje hitro (več kot 1 km/uro).",
                                                                        "Počasi (dosti manj kot 1 km/uro)."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">4. Zakaj žarnica zasveti?</div>
                                <div class="choices" data-choices='["Zaradi premikanja elektronov. Elektroni med gibanjem trkajo v ostale atome, zaradi česar lahko elektroni v atomih žarilne nitke skočijo v višje energijsko stanje in nato oddajo fotone (svetlobo), pri čemer se zopet vrnejo v osnovno energijsko stanje. ",
                                                                        "Zaradi premikanja elektronov. Med gibanjem elektroni trkajo v ostale atome v snovi in na ta način povzročajo segrevanje. Žička v žarnici je zelo tanka, zato se zelo segreje. Celo tako zelo, da zažari in zasveti.",
                                                                        "Zaradi premikanja elektronov. Elektroni med gibanjem trkajo v ostale atome, zaradi česar lahko elektroni v atomih žarilne nitke skočijo v višje energijsko stanje in nato oddajo fotone v ultravijoličnem spektru, pri čemer se zopet vrnejo v osnovno energijsko stanje. Steklena bučka žarnice je premazana s posebno snovjo, scintilatorjem, ki ultravijolično svetlobo pretvarja v vidno svetlobo."]'>
                                </div>
                            </section>

                            <div class="submit">
                                <button class="btn emc-submit">Preveri odgovore</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <a data-toggle="collapse" href="#panel4">
                <div class="panel-heading"><h4>Kviz za srednješolce</h4></div>
            </a>
            <div id="panel4" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class='row' id="quiz4">
                        <div class='col-lg-12'>
                            <div class="emc-score"></div>
                            <section data-quiz-item>
                                <div class="question">1. Kako razdelimo snovi glede na možnosti prevajanja elektronov?</div>
                                <div class="choices" data-choices='["Na prevodnike in neprevodnike.",
                                                                        "Na prevajalnike in neprevajalnike.",
                                                                        "Na prevodnike in izolatorje."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">2. Katere snovi ne prevajajo dobro elektronov?</div>
                                <div class="choices" data-choices='["Izolatorji.",
                                                                        "Prevodniki."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">3. Kako hitro potujejo elektroni po prevodnikih?</div>
                                <div class="choices" data-choices='["Zelo hitro (več kot 100 km/uro).",
                                                                        "Srednje hitro (več kot 1 km/uro).",
                                                                        "Počasi (dosti manj kot 1 km/uro)."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">4. Zakaj žarnica zasveti?</div>
                                <div class="choices" data-choices='["Zaradi premikanja elektronov. Elektroni med gibanjem trkajo v ostale atome, zaradi česar lahko elektroni v atomih žarilne nitke skočijo v višje energijsko stanje in nato oddajo fotone (svetlobo), pri čemer se zopet vrnejo v osnovno energijsko stanje. ",
                                                                        "Zaradi premikanja elektronov. Med gibanjem elektroni trkajo v ostale atome v snovi in na ta način povzročajo segrevanje. Žička v žarnici je zelo tanka, zato se zelo segreje. Celo tako zelo, da zažari in zasveti.",
                                                                        "Zaradi premikanja elektronov. Elektroni med gibanjem trkajo v ostale atome, zaradi česar lahko elektroni v atomih žarilne nitke skočijo v višje energijsko stanje in nato oddajo fotone v ultravijoličnem spektru, pri čemer se zopet vrnejo v osnovno energijsko stanje. Steklena bučka žarnice je premazana s posebno snovjo, scintilatorjem, ki ultravijolično svetlobo pretvarja v vidno svetlobo."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">5. Kaj so ioni?</div>
                                <div class="choices" data-choices='["Ioni so atomi, ki nimajo enakega števila protonov in ionov.",
                                                                        "Ioni so atomi, ki imajo višek ali primanjkljaj elektronov.",
                                                                        "Ioni so elektroni, ki so se odcepili od atoma."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">6. Kdaj je atom električno nevtralen?</div>
                                <div class="choices" data-choices='["Atom je električno nevtralen, ko je v njegovih orbitalah toliko elektronov, kolikor je v njegovem jedru protonov in nevtronov.",
                                                                        "Atom je električno nevtralen, ko ima enako število elektronov in protonov.",
                                                                        " Atom je električno nevtralen, ko se navzven kaže kot delec brez naboja."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">7. Kje je mogoče gibanje ionov?</div>
                                <div class="choices" data-choices='["V tekočinah, to je v plinih in kapljevinah.",
                                                                        "V prevodnikih, kjer so ioni šibko vezani v kristalno zgradbo.",
                                                                        "V izolatorjih."]'>
                                </div>
                            </section>

                            <div class="submit">
                                <button class="btn emc-submit">Preveri odgovore</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='.col-md-3 limit-line'>
            <i class='fa fa-circle'></i>&nbsp&nbsp&nbsp<i class='fa fa-circle'></i>&nbsp&nbsp&nbsp<i class='fa fa-circle'></i>
        </div>


        <!-- ELEKTRIČNI TOK -->
        <div class='row'>
            <h2 class='section-heading'>Električni tok</h2>
            <hr>
            <div class='col-md-10'>
                <p style="font-size: 1.3em;" class="lead">
                    Električni tok je usmerjeno gibanje električnih nabojev. Kako ga merimo, kateri simbol in enoto uporabljamo, pa boste izvedeli na video posnetku.
                </p>
            </div>
            <div class='img-div col-md-9'>
                <video class='exp_video' width='100%'  controls>
                    <source src='video/elektricni_tok.mp4' type='video/mp4'>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="panel panel-default">
            <a data-toggle="collapse" href="#panel5">
                <div class="panel-heading"><h4>Kviz</h4></div>
            </a>
            <div id="panel5" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class='row' id="quiz5">
                        <div class='col-lg-12'>
                            <div class="emc-score"></div>
                            <section data-quiz-item>
                                <div class="question">1. Kaj je električni tok?</div>
                                <div class="choices" data-choices='["Gibanje elektronov.",
                                                                        "Gibanje atomov.",
                                                                        "Gibanje nosilcev električnega naboja."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">2. Kdaj je električni tok večji?</div>
                                <div class="choices" data-choices='["Ko se hkrati premika več elektronov.",
                                                                        "Ko se elektroni gibljejo hitreje.",
                                                                        "Ko se hkrati premika več elektronov in če se elektroni premikajo hitreje."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">3. Kako imenujemo napravo za merjenje toka?</div>
                                <div class="choices" data-choices='["Voltmeter.",
                                                                        "Ohmmeter.",
                                                                        "Ampermeter.",
                                                                        "Tokometer."]'>
                                </div>
                            </section>
                            <section data-quiz-item>
                                <div class="question">4. Katero mersko enoto uporabljamo za označevanje velikosti toka?</div>
                                <div class="choices" data-choices='["Volt, V.",
                                                                        "Vat, W.",
                                                                        "Ohm, Ω.",
                                                                        "Amper, A."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">5. V kateri smeri potujejo elektroni?</div>
                                <div class="choices" data-choices='["Od + sponke proti –",
                                                                        "Od – sponke proti +"]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">6. Kdaj lahko teče električni tok?</div>
                                <div class="choices" data-choices='["Ko je v tokokrogu žarnica.",
                                                                        "Ko je na – sponki presežek elektronov, na + sponki pa primanjkljaj.",
                                                                        "Ko je tokokrog sklenjen."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">7. Kdaj žarnica bolj gori?</div>
                                <div class="choices" data-choices='["Ko gre skozi žarilno nitko več toka.",
                                                                        "Ko gre skozi tanjšo žarilno nitko več toka.",
                                                                        "Ko gre skozi debelejšo žarilno nitko manj toka."]'>
                                </div>
                            </section>

                            <div class="submit">
                                <button class="btn emc-submit">Preveri odgovore</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='.col-md-3 limit-line'>
            <i class='fa fa-circle'></i>&nbsp&nbsp&nbsp<i class='fa fa-circle'></i>&nbsp&nbsp&nbsp<i class='fa fa-circle'></i>
        </div>


        <!-- NAPETOST -->
        <div class='row'>
            <h2 class='section-heading'>Napetost</h2>
            <hr>
            <div class='col-md-10'>
                <p style="font-size: 1.3em;" class="lead">
                    Napetost je povezana z energijo, ta pa z delom in z električnim tokom kot posledico. Če želite opraviti neko delo,
                    potrebujete energijo. To v elektrotehniki enačimo z električno napetostjo med razdruženimi naboji. Bolj natančno razlago podajamo
                    v kratkem video posnetku.
                </p>
            </div>
            <div class='img-div col-md-9'>
                <video class='exp_video' width='100%'  controls>
                    <source src='video/napetost.mp4' type='video/mp4'>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="panel panel-default">
            <a data-toggle="collapse" href="#panel6">
                <div class="panel-heading"><h4>Kviz</h4></div>
            </a>
            <div id="panel6" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class='row' id="quiz6">
                        <div class='col-lg-12'>
                            <div class="emc-score"></div>
                            <section data-quiz-item>
                                <div class="question">1. Električna napetost je posledica (poišči najustreznejši odgovor) ...</div>
                                <div class="choices" data-choices='["Trenja nabojev.",
                                                                        "Ločevanja nabojev.",
                                                                        "Električnega toka."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">2. Označi pravilni odgovor.</div>
                                <div class="choices" data-choices='["Če je prisoten tok, je tudi napetost.",
                                                                        "Če je napetost, je tudi tok.",
                                                                        "Napetost je premikanje nabojev.",
                                                                        "Napetost je posledica premikanja nabojev.",
                                                                        "Več nabojev ko ločimo in bolj kot jih ločimo, večja bo napetost."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">3. Merska enota za napetost je:</div>
                                <div class="choices" data-choices='["Volt, V.",
                                                                        "Vat, W.",
                                                                        "Ohm, Ω.",
                                                                        "Amper, A."]'>
                                </div>
                            </section>
                            <section data-quiz-item>
                                <div class="question">4. Kaj je akumulator?</div>
                                <div class="choices" data-choices='["Elektrotehnična naprava za shranjevanje električne energije na posreden način prek kemične energije.",
                                                                        "Vsaka baterija, ki se lahko polni.",
                                                                        "Baterija v avtomobilu.",
                                                                        "Vsaka baterija."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">5. Kaj je elektrostatska sila?</div>
                                <div class="choices" data-choices='["To je sila med objekti, ki imajo presežek ali primanjkljaj elektronov.",
                                                                        "To je sila med dvema elektronoma.",
                                                                        "To je sila med dvema atomoma."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">6. Kaj je električni generator in kakšen je njegov namen?</div>
                                <div class="choices" data-choices='["Generator pretvarja mehansko delo v ločevanje nabojev. Elektrone ločuje od atomov. Pravimo, da ustvarja električno energijo.",
                                                                        "Generator ločuje naboje s pomočjo elektro-kemijskih reakcij, da napolni baterijo.",
                                                                        "Generator je vsaka naprava, ki ločuje naboje za pridobivanje električne energije."]'>
                                </div>
                            </section>


                            <div class="submit">
                                <button class="btn emc-submit">Preveri odgovore</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class='.col-md-3 limit-line'>
            <i class='fa fa-circle'></i>&nbsp&nbsp&nbsp<i class='fa fa-circle'></i>&nbsp&nbsp&nbsp<i class='fa fa-circle'></i>
        </div>
        

        <!-- PREDSTAVITEV OSNOVNIH MERILNIH INŠTRUMENTOV -->
        <div class='row'>
            <h2 class='section-heading'>Predstavitev osnovnih merilnih inštrumentov</h2>
            <hr>
            <div class='col-md-10'>
                <p style="font-size: 1.3em;" class="lead">
                    Z ampermetrom merimo tok, z voltmetrom napetost, z osciloskopom pa opazujemo časovne spremembe električnih signalov. Več o osnovnih merilnih inštrumentih pa je v video posnetku.
                </p>
            </div>
            <div class='img-div col-md-9'>
                <video class='exp_video' width='100%'  controls>
                    <source src='video/predstavitev_osnovnih_merilnih_instrumentov.mp4' type='video/mp4'>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div> <!-- /.container -->
</div>