<div id="circuit-el-remote-easy" class='content-section-a'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12 col-sm-6'>
                <h3 style="margin-top: 30px;" class='section-heading'>Enostaven način izvajanja</h3>
                <h4 style="color: blue;" class='section-heading'>Navodila za izvajanje eksperimenta</h4>
                <p class="lead">
                    Pred začetkom izvajanja meritev si lahko natisnete predlogo <a href="pdf/Rezultati_meritev_na_elementih.pdf">Rezultati meritev na elementih vezij</a>,
                    v katero lahko zapisujete rezultate meritev.
                </p>

                <div class="col-md-1">
                    <i class="fa fa-arrow-right fa-3x" style="color: #0000FF"></i>

                </div>
                <div class="col-md-11" style="text-align: center;">
                    <p class='lead'>
                        Iz seznama elementov izberite UPOR. Na oddaljenem mestu se bo izvršila vaša izbira.
                    </p>
                </div>


                <div class="col-md-1">
                    <i class="fa fa-plus fa-3x" style="color: #FF0000"></i>
                </div>
                <div class="col-md-11" style="text-align: center;">
                    <p class='lead'>
                        <strong>V pomoč pri razlagi lastnosti UPORA v vezjih si preberite poglavje <a href="pdf/Opis_elementov_enostaven.pdf">Opis elementov (UPOR)</a>.</strong>
                    </p>
                </div>


                <div class="col-md-1">
                    <i class="fa fa-arrow-right fa-3x" style="color: #0000FF"></i>
                </div>
                <div class="col-md-11" style="text-align: center;">
                    <p class='lead'>
                        Izberite najprej sinusno obliko vzbujalnega signal, nato še trikotno in pravokotno.
                        Opazujte obliko toka in napetosti in odgovorite na vprašanja v kvizu.
                    </p>
                </div>

                <div class="col-md-1">
                    <i class="fa fa-arrow-right fa-3x" style="color: #0000FF"></i>
                </div>
                <div class="col-md-11" style="text-align: center;">
                    <p class='lead'>
                        Nadaljujte z izbiro drugih elementov v izbirnem seznamu  in po ogledu odgovarjajte na postavljena vprašanja.
                    </p>
                </div>


                <div class="col-md-1">
                    <i class="fa fa-plus fa-3x" style="color: #FF0000"></i>
                </div>
                <div class="col-md-11" style="text-align: center;">
                    <p class='lead'>
                        Pomoči pri razlagi lastnosti posameznih elementov pri vzbujanju z izmeničnimi signali:
                    <ul class='lead'>
                        <li>UPOR</li>
                        <li>KONDENZATOR</li>
                        <li>TULJAVA</li>
                        <li>DIODA</li>
                    </ul>
                    </p>
                </div>

                <a href='#'  class='btn btn-default btn-lg exp-btn'><span>Zaženi aplikacijo</span></a>
            </div>
        </div>
    </div>
</div>