<div id="circuit-el-hard" class='content-section-a'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12 col-sm-6'>
                <h3 style="margin-top: 30px;" class='section-heading'>Zahtevnejši način izvajanja</h3>
                <h4 style="color: blue;" class='section-heading'>Merilna shema</h4>

                <div class='lead col-lg-12'>
                    <p class="lead col-lg-8">
                        Eksperiment izvajamo tako, da izbrani element (upor, kondenzator, tuljavo ali diodo) priključimo
                        na vir izmenične napetosti, ki daje napetostne signale različnih oblik. Merimo napetost U na elementu
                        in tok I skozi element. Na desni sliki je prikazan primer, ko na vir izmenične napetosti priključimo
                        upor R. Upor lahko zamenjamo z drugimi elementi: s kondenzatorjem (C), s tuljavo (L) ali z diodo.<br/><br/><br/><br/>
                    </p>
                    <p class="lead col-lg-4">
                        <img class='img-responsive' src='img/UI_na_elementih_1.png' alt='' align="right" style="height:160px;">
                    </p>
                </div>

                <div class='lead col-lg-12'>
                    <p class="lead col-lg-8">
                        Če bi uporabili običajne merilne inštrumente, bi ampermeter (merilnik toka) in voltmeter (merilnik napetosti)
                        v vezje priključili tako, kakor prikazuje slika na desni. Če nas zanima časovni potek signala,
                        namesto voltmetra uporabimo osciloskop, ki časovni potek napetosti prikazuje z grafom. O osciloskopu
                        smo govorili že v uvodnem poglavju (<a href="index.html?page=osnovni-pojmi">Predstavitev
                        osnovnih merilnih inštrumentov</a>), osnovno delo z osciloskopom pa smo prikazali v eksperimentu
                        <a href="index.html?page=red-pitaja">Red Pitaya kot Osciloskop in signalni generator</a>.<br/><br/><br/><br/>
                    </p>
                    <p class="lead col-lg-4">
                        <img class='img-responsive' src='img/UI_na_elementih_2.png' alt='Vezava elementov' align="right" style="height:220px;">
                    </p>
                </div>


                <div class='lead col-lg-12'>
                    <p class="lead col-lg-8">
                        Da lahko spremljamo časovni potek toka, tokovni signal najprej pretvorimo v napetostnega. To
                        najenostavneje storimo tako, da v vezje zaporedno vežemo merilni upor (R<sub>mer</sub>) in nato merimo oz.
                        prikazujemo napetost na njem (V<sub>mer</sub>). Ker za upore velja Ohmov zakon  I=u/R, je tok skozi merilni
                        upor in skozi ostalo vezje  sorazmeren napetosti na merilnem uporu, ki jo prikaže osciloskop.
                    </p>
                    <p class="lead col-lg-4">
                        <img class='img-responsive' src='img/UI_na_elementih_3.png' alt='Vezava elementov' align="right" style="height:280px;">
                    </p>
                </div>

                <div class='lead col-lg-12'>
                    <p class="lead col-lg-8">
                        V zahtevnem načinu izvajanja poskusite sami priklopiti Red Pitayo tako, da boste z njo merili tok
                        in napetost na elementih. Uporabite priložene vezice in prototipno ploščico.<br />
                        <strong>POZOR: Črna vezica na priključni sponki, ki vodi v vhod ali iz izhoda Red Pitaye, je vedno
                            priključena na maso (ozemljitev). To pomeni, da morate poskrbeti, da vedno uporabite skupno maso.</strong>
                    </p>
                </div>

                <div class='lead col-lg-12' style="margin-bottom: 40px">
                    <p class="col-lg-1"><i align="left" class="fa fa-hand-o-right fa-2x col-md-1" style="color: blue;"></i></p>
                    <p class="lead col-lg-11">SESTAVITE VEZJE KOT KAŽE MERILNA SHEMA. PRI TEM UPOŠTEVAJTE SPODNJA NAVODILA ZA PRIKLJUČITEV.</p>
                </div>

                <div class='lead col-lg-12' style="margin-bottom: 40px">
                    <p class="col-lg-1"><i align="left" class="fa fa-hand-o-right fa-2x col-md-1" style="color: blue;"></i></p>
                    <p class="lead col-lg-11"><strong>ČE STE USPEŠNO PRIKLJUČILI RED PITAJO (NAVODILA ZA PRIKLOP) ZAŽENITE APLIKACIJO Tok +
                        Napetost. ČE SE JE APLIKACIJA ZAGNALA ZAČNITE IZVAJATI EKSPERIMENT Z UPOŠTEVANJEM SPODNJIH
                        NAVODIL. </strong></p>
                </div>



                <h4 style="color: blue;" class='section-heading'>Navodilo za priključitev</h4>


                <div class='lead col-lg-12'>
                    <p class="lead col-lg-7">
                        Za (skupno) maso uporabite stičišče med merilnim uporom Rmer in virom napetosti Ug. VHOD 1 (V1) na Red
                        Pitayi uporabite za merjenje napetosti na merilnem uporu (V1 = V<sub>mer</sub>). Tok skozi merilni upor dobimo
                        iz izmerjene napetosti V1:<br /><br />
                        I= V<sub>mer</sub> / R<sub>mer</sub> oziroma kot I = V1/ R<sub>mer</sub>.
                    </p>
                    <p class="lead col-lg-5">
                        <img class='img-responsive' src='img/UI_na_elementih0.png' alt='Vezava elementov' align="right" style="height:200px;">
                    </p>
                    <p class="lead col-lg-12">
                        VHOD 2 (V2) priključite tako, da merite napetost vira (Ug). Napetost na preučevanem elementu
                        (v opisanem primeru uporu R) je razlika izmerjenih napetosti VR = Ug - V<sub>mer</sub>, oziroma
                        VR=V2 – V1.<br /><br />
                        Napetosti na bremenu ne moremo meriti neposredno, ker imamo lahko v vezju le eno točko s skupno
                        maso! V aplikaciji se razlika napetosti že samodejno izračuna.<br /><br />
                        Če ne razumete, kako se poveže Red Pitayo z elementi, si lahko ogledate bolj podrobno merilno
                        shemo v srednje zahtevnem načinu, ali pa shemo konkretne priključitve z vezicami na prototipno
                        ploščico in Red Pitayo  v lažjem načinu.
                    </p>
                </div>

                <div class='lead col-lg-12' style="margin-bottom: 40px">
                    <p class="col-lg-1"><i align="left" class="fa fa-hand-o-right fa-2x col-md-1" style="color: blue;"></i></p>
                    <p class="lead col-lg-11"><strong>Natisnite si predlogo Rezultati meritev toka in napetosti na
                        elementih vezij (<a href="pdf/Rezultati_meritev_na_elementih.pdf">PDF</a>) in jo uporabite pri vnašanju rezultatov meritev.</strong></p>
                </div>


                <div class='lead col-lg-12' style="margin-bottom: 40px">
                    <p class="col-lg-1"><i align="left" class="fa fa-hand-o-right fa-2x col-md-1" style="color: blue;"></i></p>
                    <p class="lead col-lg-11">
                        ZAŽENITE APLIKACIJO <a href="#">eNapetost/Tok</a>. ČE SE JE APLIKACIJA ZAGNALA, ZAČNITE IZVAJATI
                        EKSPERIMENT Z UPOŠTEVANJEM SPODNJIH NAVODIL. Če imate težave z zagonom Red Pitaye, vam bodo morda
                        pomagala <a href="index.html?page=pogosta-vprasanja">dodatna navodila oz. pogosta vprašanja</a>.
                    </p>
                </div>

                <div class='lead col-lg-12' style="margin-bottom: 40px">
                    <p class="col-lg-1"><img src="img/znak_klicaj.png" /></p>
                    <p class="lead col-lg-11">
                        <strong>
                            Pozor: Pri določenih nastavitvah (npr. zelo visoki ali zelo nizki frekvenci, majhni gonilni
                            napetosti) sta lahko tok v vezju in skozi element ali napetost na njem zelo majhna, kar
                            zmanjša natančnost merjenja. Prikazan signal ima v tem primeru precej šuma (videti je
                            »kosmat«). V praksi to težavo rešimo s spreminjanjem velikosti merilnega upora, povečanjem
                            gonilne napetosti ali filtriranjem, pri našem eksperimentu pa bomo v primeru zmanjšane
                            natančnosti merjenja opazili znak  <img src="img/znak_klicaj.png" style="width:30px"/> in opozorilo, da meritev ni dovolj natančna.
                        </strong>
                    </p>
                </div>

                <h4 style="color: blue;" class='section-heading'>Navodila za izvajanje meritev</h4>

                <p class="lead">
                    Po potrebi v aplikaciji spreminjajte nastavitve (frekvenco, amplitudo, obliko vzbujalnega signala),
                    da boste znali pravilno odgovoriti na vprašanja.
                </p>
            </div>
        </div>

        <!-- 1. naloga -->
        <div class="col-md-12">
            <p class="lead"><strong>1. Naloga – lastnosti UPORA</strong></p>
            <p class='lead col-md-12'>
                Med elementi poiščite upor za 100 Ω in ga vežite v vezje po shemi. Nastavite sinusni vzbujalni
                signal s frekvenco 1000 Hz in amplitudo 0,5 V. Opazujte časovni potek napetosti in toka na elementu.
                Oba poteka skicirajte v spodaj pripravljeno mrežo. Označite osi (vpišite količino in enoto, npr. Čas / sek ),
                označite oba signala ter odgovorite na spodnja vprašanja.
            </p>


            <div class="col-md-1">
                <img src="img/znak_klicaj.png" />
            </div>
            <div class="col-md-11" style="text-align: center;">
                <p class='lead'>
                    Če opazite, da signala ne nihata okoli vrednosti 0 V/ 0 A, je to zato, ker Red Pitaya ni
                    kalibrirana. Namesto kalibracije, ki je nekoliko bolj zahteven postopek, lahko signala v Y
                    osi enostavno premaknete tako, da v zavihku Meritve/ Y os/Faktor pretvorbe vpišete ustrezen
                    faktor (c1 za levo in c2 za desno Y os).<br /><br />
                    <img src="img/faktor_pretvorbe.png" /> <br /><br />
                    <img src="img/kvadratna_mreza.png" />
                </p>
            </div>
        </div>

        <!--Pojdi na kviz  Zahtevnejši način - 1. naloga -->
        <div class="panel panel-default">
            <a data-toggle="collapse" href="#panel19">
                <div class="panel-heading"><h4 onclick="$('#panel19').toggle();">Pojdi na kviz</h4></div>
            </a>
            <div id="panel19" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class='row' id="quiz19">
                        <div class='col-lg-12'>
                            <div class="emc-score"></div>
                            <section data-quiz-item>
                                <div class="question">1. Ali sta časovna poteka napetostnega in tokovnega signala enake oblike?  </div>
                                <div class="choices" data-choices='["Da.",
                                                                        "Ne."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">Če amplitudo napetostnega signala podvojimo (na 1 V), se amplituda toka:

                                </div>
                                <div class="choices" data-choices='["Približno podvoji",
                                                                       "Ne spremeni",
                                                                       "Se prepolovi",
                                                                       "Se poveča na 3-kratno vrednost",
                                                                       "Se zmanjša za tretjino"]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">3. Če povečam frekvenco vzbujalnega (napetostnega) signala za
                                    10x (na 10 kHz), se:
                                </div>
                                <div class="choices" data-choices='["Ostane frekvenca toka enaka kot prej (1 kHz).",
                                                                        "Se enako poveča tudi frekvenca tokovnega signala."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">4. Če spremenimo obliko vzbujalnega napetostnega signala v trikotno:
                                </div>
                                <div class="choices" data-choices='["Se enako spremeni tudi oblika toka.",
                                                                       "Tok obdrži sinusno obliko.",
                                                                       "Je oblika toka bolj pravokotne oblike."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">5. Če bi zamenjali 100-ohmski upor za drugega, npr. 200 ohmskega,
                                    bi se ob isti priključeni gonilni napetosti:
                                </div>
                                <div class="choices" data-choices='["Tok podvojil.",
                                                                       "Tok prepolovil.",
                                                                       "Tok de ne bi spremenil."]'>
                                </div>
                            </section>



                            <div class="submit">
                                <button class="btn emc-submit">Preveri odgovore</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-11" style="text-align: center;">
                        <p class='lead'>
                            V pomoč pri razlagi lastnosti UPORA v vezjih si preberite poglavje <a
                                href="pdf/Opis_elementov_zahteven.pdf#page=1">Opis elementov (UPOR)</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <!-- 2. naloga -->
        <div class="col-md-12">
            <p class="lead"><strong>2. Naloga – lastnosti KONDENZATORJA</strong></p>

            <p class='lead col-md-12'>
                Poiščite med elementi kondenzator in ga namestite na prototipno ploščico namesto upora.
                Nastavite sinusni vzbujalni signal s frekvenco 5000 Hz in amplitudo 0,5 V. Opazujte časovni potek
                napetosti in toka. Oba časovna poteka skicirajte v spodaj pripravljeno mrežo. Označite osi
                (vpišite veličino in enoto, npr. Čas / sek ), označite oba signala ter odgovorite na spodnja vprašanja:

            </p>

            <div class="col-md-12" style="text-align: center;">
                <p class='lead'>
                    <img src="img/kvadratna_mreza.png" />
                </p>
            </div>
        </div>



        <!--Pojdi na kviz  Zahtevnejši način - 2. naloga -->
        <div class="panel panel-default">
            <a data-toggle="collapse" href="#panel20">
                <div class="panel-heading"><h4 onclick="$('#panel20').toggle();">Pojdi na kviz</h4></div>
            </a>

            <div id="panel20" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class='row' id="quiz20">
                        <div class='col-lg-12'>
                            <div class="emc-score"></div>
                            <section data-quiz-item>
                                <div class="question">1. Ali je napetostni signal enake oblike kot tokovni?</div>
                                <div class="choices" data-choices='["Da.",
                                                                        "Ne."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">2. Časovna poteka napetostnega in tokovnega signala sta:</div>
                                <div class="choices" data-choices='["Enake oblike, a zamaknjena v času.",
                                                                        "Različne oblike, vendar ne zamaknjena v času.",
                                                                        "Enaka."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">3. Tokovni in napetostni signal sta zamaknjena za približno</div>
                                <div class="choices" data-choices='["Pol periode signala.",
                                                                        "Celo periodo signala.",
                                                                        "Eno četrtino periode signala.",
                                                                        "Nista zamaknjena."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">4. Če amplitudo napetostnega signala podvojimo ( na 1 V) se amplituda toka:</div>
                                <div class="choices" data-choices='["Približno podvoji.",
                                                                       "Ne spremeni.",
                                                                       "Razpolovi.",
                                                                       "Poveča na trikratno vrednost.",
                                                                       "Zmanjša na tretjino."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">5. Če povečamo frekvenco vzbujalnega (napetostnega) signala za faktor 10x (na 50 kHz), se:

                                </div>
                                <div class="choices" data-choices='["Frekvenca toka ne spremeni (5 kHz).",
                                                                       "Enako se poveča tudi frekvenca tokovnega signala."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">6. Pri višji frekvenci signala je amplituda toka:</div>
                                <div class="choices" data-choices='["Večja kot pri nižji frekvenci.",
                                                                       "Enaka kot pri nižji frekvenci.",
                                                                       "Manjša kot pri nižji frekvenci."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">7. Če spremenimo obliko vzbujalnega napetostnega signala v trikotno: </div>
                                <div class="choices" data-choices='["Se enako spremeni tudi oblika toka.",
                                                                       "Postane oblika toka bolj pravokotne oblike.",
                                                                       "Ostane oblika toka sinusne oblike."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">8. Če spremenimo obliko vzbujalnega napetostnega signala v pravokotno:</div>
                                <div class="choices" data-choices='["Je tok velik le ob spremembah napetostnega signala.",
                                                                       "Se enako spremeni tudi oblika toka.",
                                                                       "Tok obdrži sinusno obliko."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">9. Pri zelo visoki frekvenci vzbujalnega signala bi kondenzator predstavljal:</div>
                                <div class="choices" data-choices='["Odprti sponki (ne bi bilo  toka skozi kondenzator).",
                                                                       "Kratek stik (tok skozi kondenzator bi bil zelo velik oz. omejen z drugimi elementi v vezju)."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">10. Pri zelo nizki frekvenci vzbujalnega signala bi kondenzator predstavljal:</div>
                                <div class="choices" data-choices='["Odprti sponki (ne bi bilo toka skozi kondenzator ali pa bi bil zelo majhen).",
                                                                       "Kratek stik (tok skozi kondenzator bi bil zelo velik oz. omejen z drugimi elementi v vezju)."]'>
                                </div>
                            </section>

                            <div class="submit">
                                <button class="btn emc-submit">Preveri odgovore</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-11" style="text-align: center;">
                        <p class='lead'>
                            V pomoč pri razlagi lastnosti KONDENZATORJA v vezjih si preberite poglavje <a
                                href="pdf/Opis_elementov_zahteven.pdf#page=4">Opis elementov (KONDENZATOR)</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3. naloga -->
        <div class="col-md-12">
            <p class="lead"><strong>3. Naloga – lastnosti TULJAVE</strong></p>

            <p class='lead col-md-12'>
                Poiščite med elementi tuljavo in jo namestite na prototipno ploščico namesto kondenzatorja
                ter zaženite aplikacijo <a href="#">Lastnosti_elementov</a>.  Nastavite sinusni vzbujalni signal s frekvenco
                5000 Hz in amplitudo 0,5 V. Opazujte časovni potek napetosti in toka. Oba časovna poteka skicirajte
                v spodaj pripravljeno mrežo. Označite osi (vpišite veličino in enoto, npr. Čas / sek ), označite oba
                signala ter odgovorite na spodnja vprašanja:
            </p>

            <div class="col-md-12" style="text-align: center;">
                <p class='lead'>
                    <img src="img/kvadratna_mreza.png" />
                </p>
            </div>
        </div>


        <!--Pojdi na kviz  Zahtevnejši način - 3. naloga -->
        <div class="panel panel-default">
            <a data-toggle="collapse" href="#panel21">
                <div class="panel-heading"><h4 onclick="$('#panel21').toggle();">Pojdi na kviz</h4></div>
            </a>

            <div id="panel21" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class='row' id="quiz21">
                        <div class='col-lg-12'>
                            <div class="emc-score"></div>
                            <section data-quiz-item>
                                <div class="question">1. Ali je napetostni signal enake oblike kot tokovni?</div>
                                <div class="choices" data-choices='["Da.",
                                                                        "Ne."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">2. Napetostni in tokovni signal sta:</div>
                                <div class="choices" data-choices='["Enake oblike, vendar zamaknjena v času.",
                                                                        "Različne oblike, a ne zamaknjena v času.",
                                                                        "Enaka."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">3. Tokovni in napetostni signal sta zamaknjena za približno:
                                </div>
                                <div class="choices" data-choices='["Pol periode signala.",
                                                                        "Celo periodo signala.",
                                                                        "Eno četrtino periode signala.",
                                                                        "Nista časovno zamaknjena."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">4. Če amplitudo napetostnega signala podvojimo ( na 1 V) se amplituda toka:</div>
                                <div class="choices" data-choices='["Podvoji.",
                                                                       "Ne spremeni.",
                                                                       "Razpolovi.",
                                                                       "Poveča na trikratno vrednost.",
                                                                       "Zmanjša na tretjino."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">5. Če povečamo frekvenco vzbujalnega (napetostnega) signala za faktor 10x (na 50 kHz), se:

                                </div>
                                <div class="choices" data-choices='["Frekvenca toka ne spremeni (5 kHz).",
                                                                       "Enako se poveča tudi frekvenca tokovnega signala."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">6. Pri višji frekvenci signala je amplituda toka:</div>
                                <div class="choices" data-choices='["Večja kot pri nižji frekvenci.",
                                                                       "Enaka kot pri nižji frekvenci.",
                                                                       "Manjša kot pri nižji frekvenci."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">7. Če spremenimo obliko vzbujalnega napetostnega signala v trikotno: </div>
                                <div class="choices" data-choices='["Se enako spremeni tudi oblika toka.",
                                                                       "Postane oblika toka podobna sinusni obliki.",
                                                                       "Tok obdrži sinusno obliko."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">8. Če spremenimo obliko vzbujalnega napetostnega signala v pravokotno:</div>
                                <div class="choices" data-choices='["Je tok velik le ob spremembah napetostnega signala.",
                                                                       "Se enako spremeni tudi oblika tokovnega signala.",
                                                                       "Postane signal toka trikotne oblike.",
                                                                       "Signal toka obdrži sinusno obliko."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">9. Pri zelo visoki frekvenci vzbujalnega signala bi tuljava predstavljala:
                                </div>
                                <div class="choices" data-choices='["Odprti sponki (ne bi bilo toka skozi kondenzator).",
                                                                       "Kratek stik (tok skozi kondenzator bi bil zelo velik oz. omejen z drugimi elementi v vezju)."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">10. Pri zelo nizki frekvenci vzbujalnega signala bi kondenzator predstavljal:
                                </div>
                                <div class="choices" data-choices='["Odprti sponki (ne bi bilo toka skozi kondenzator ali pa bi bil zelo majhen).",
                                                                       "Kratek stik (tok skozi kondenzator bi bil zelo velik oz. omejen z drugimi elementi v vezju)."]'>
                                </div>
                            </section>

                            <div class="submit">
                                <button class="btn emc-submit">Preveri odgovore</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11" style="text-align: center;">
                        <p class='lead'>
                            V pomoč pri razlagi lastnosti TULJAVE v vezjih si preberite poglavje <a
                                href="pdf/Opis_elementov_zahteven.pdf#page=6">Opis elementov (TULJAVA)</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 4. naloga -->
        <div class="col-md-12">
            <p class="lead"><strong>4. Naloga – lastnosti DIODE</strong></p>

            <p class='lead col-md-12'>
                Poiščite med elementi diodo in jo namestite na prototipno ploščico namesto tuljave ter zaženite
                aplikacijo <a href="#">Lastnosti_elementov</a>. Nastavite sinusni vzbujalni signal s frekvenco 5000 Hz in
                amplitudo 0,5 V. Opazujte časovni potek napetosti in toka. Oba časovna poteka skicirajte v
                spodaj pripravljeno mrežo. Označite osi (vpišite veličino in enoto, npr. Čas / sek ), označite
                oba signala ter odgovorite na spodnja vprašanja:
            </p>

            <div class="col-md-12" style="text-align: center;">
                <p class='lead'>
                    <img src="img/kvadratna_mreza.png" />
                </p>
            </div>
        </div>

        <!--Pojdi na kviz  Zahtevnejši način - 4. naloga -->
        <div class="panel panel-default">
            <a data-toggle="collapse" href="#panel22">
                <div class="panel-heading"><h4 onclick="$('#panel22').toggle();">Pojdi na kviz</h4></div>
            </a>

            <div id="panel22" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class='row' id="quiz22">
                        <div class='col-lg-12'>
                            <div class="emc-score"></div>
                            <section data-quiz-item>
                                <div class="question">1. Ali je napetostni signal enake oblike kot tokovni?</div>
                                <div class="choices" data-choices='["Da.",
                                                                        "Ne."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">2. Napetostni in tokovni signal sta:</div>
                                <div class="choices" data-choices='["Enake oblike, vendar zamaknjena v času.",
                                                                       "Različne oblike, vendar ne zamaknjena v času.",
                                                                       "Enaka."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">3. Tok teče skozi diodo:</div>
                                <div class="choices" data-choices='["Enako v obe smeri.",
                                                                        "Le v eni smeri, v drugo pa ne."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">4. Tokovni in napetostni signal sta zamaknjena za približno:
                                </div>
                                <div class="choices" data-choices='["Pol periode signala.",
                                                                       "Celo periodo signala.",
                                                                       "Eno četrtino periode signala.",
                                                                       "Nista časovno zamaknjena."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">5. Če amplitudo napetostnega signala podvojimo (na 1 V), se amplituda toka: </div>
                                <div class="choices" data-choices='["Podvoji.",
                                                                       "Ne spremeni.",
                                                                       "Razpolovi.",
                                                                       "Poveča za trikratno vrednost.",
                                                                       "Zmanjša na tretjino."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">6. Če povečamo frekvenco vzbujalnega (napetostnega) signala za 10x (na 50 kHz):
                                </div>
                                <div class="choices" data-choices='["Frekvenca toka se ne spremeni.",
                                                                       "Enako se poveča tudi frekvenca tokovnega signala."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">7. Pri višji frekvenci signala je amplituda toka</div>
                                <div class="choices" data-choices='["Večja kot pri nižji frekvenci.",
                                                                       "Enaka kot pri nižji frekvenci.",
                                                                       "Manjša kot pri nižji frekvenci."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">8. Če spremenimo obliko vzbujalnega napetostnega signala v trikotno:
                                </div>
                                <div class="choices" data-choices='["Se enako spremeni tudi oblika toka.",
                                                                       "Postane oblika toka podobna sinusni obliki.",
                                                                       "Tok obdrži sinusno obliko."]'>
                                </div>
                            </section>

                            <section data-quiz-item>
                                <div class="question">9. Če spremenimo obliko vzbujalnega napetostnega signala na v pravokotno:
                                </div>
                                <div class="choices" data-choices='["Je tok velik le ob spremembah napetostnega signala.",
                                                                       "Se enako spremeni tudi oblika toka, pri čemer tok teče v eno smer.",
                                                                       "Postane tok trikotne oblike.",
                                                                       "Se enako spremeni tudi oblika toka, pri čemer tok teče v obe smeri."]'>
                                </div>
                            </section>

                            <div class="submit">
                                <button class="btn emc-submit">Preveri odgovore</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-11" style="text-align: center;">
                        <p class='lead'>
                            V pomoč pri razlagi lastnosti DIODE v vezjih si preberite poglavje <a
                                href="pdf/Opis_elementov_zahteven.pdf#page=8">Opis elementov (DIODA)</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- row -->
</div>
</div>