<div id="circuit-el-remote-hard" class='content-section-a'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12 col-sm-6'>
                <h3 style="margin-top: 30px;" class='section-heading'>Zahtevnejši način izvajanja</h3>
                <h4 style="color: blue;" class='section-heading'>Navodila za izvajanje eksperimenta</h4>
                <p class="lead">
                    Pred začetkom izvajanja meritev si lahko natisnete predlogo <a href="pdf/Rezultati_meritev_na_elementih.pdf">Rezultati meritev na elementih vezij</a>,
                    v katero lahko zapisujete rezultate meritev.
                </p>
                <p class="lead">
                    Vaša naloga je, da iz oblike tokovnega in napetostnega signala ugotovite, kateri element je priključen v vezju.
                    Spreminjate lahko amplitudo in frekvenco napetostnega signala, ne pa tudi oblike. Velja opozoriti, da se v
                    eksperimentu uporabljajo realni elementi, ki se lahko pri določenih frekvencah obnašajo nepričakovano. Na primer,
                    tuljava ima pri nizkih frekvencah lahko bolj izražene ohmske (uporovne) lastnosti, kondenzator pa ima pri zelo
                    visokih frekvencah lahko lastnosti tuljave. Poleg tega je lahko v določenih primerih padec napetosti na elementu
                    tako majhen, da je že velikosti šuma, kar pomeni, da meritve v tem območju niso zanesljive. Na to nas v aplikaciji
                    opozori znak <img src='img/klicaj.png' alt="Klicaj" style="width:3%;">  z opozorilnim tekstom.
                </p>


                <div class="col-md-1">
                    <i class="fa fa-plus fa-3x" style="color: #ff0000"></i>

                </div>
                <div class="col-md-11" style="text-align: center;">
                    <p class='lead'>
                        V pomoč pri pravilnem določanju elementa in velikosti upornosti, kapacitivnosti ali induktivnosti, predlagamo,
                        da si najprej preberete poglavje o <a href="#">lastnostih elementov vezij</a>.
                    </p>
                </div>


                <div class="col-md-1">
                    <i class="fa fa-arrow-right fa-3x" style="color: #0000FF"></i>
                </div>
                <div class="col-md-11" style="text-align: center;">
                    <p class='lead'>
                        Po ogledu signalov odgovorite na postavljena vprašanja. Nato kliknite na gumb <em>Nova izbira</em>. S tem boste na
                        oddaljeno merilno mesto poslali ukaz za spremembo priključitve merilnega elementa in/ali oblike vzbujalnega
                        signala. (Element lahko ostane isti, spremeni pa se oblika vzbujalnega signala).
                    </p>
                </div>
                <a href='#'  class='btn btn-default btn-lg exp-btn'><span>Zaženi aplikacijo</span></a>
            </div>
        </div>
    </div>
</div>