<div id="circuit-el-remote-medium" class='content-section-a'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12 col-sm-6'>
                <h3 style="margin-top: 30px;" class='section-heading'>Srednje zahteven način izvajanja</h3>
                <h4 style="color: blue;" class='section-heading'>Merilna shema</h4>


                <p class="lead col-lg-12">Vaša naloga je, da iz oblike tokovnega in napetostnega signala ugotovite,
                    kateri element je priključen v vezju. Spreminjate lahko amplitudo in frekvenco napetostnega signala,
                    ne pa tudi oblike. Velja opozoriti, da se v eksperimentu uporabljajo realni elementi, ki se lahko pri
                    določenih frekvencah obnašajo nepričakovano. Na primer, tuljava ima pri nizkih frekvencah lahko bolj
                    izražene ohmske (uporovne) lastnosti, kondenzator pa ima pri zelo visokih frekvencah lahko lastnosti
                    tuljave. Poleg tega je lahko v določenih primerih padec napetosti na elementu tako majhen, da je že
                    velikosti šuma, kar pomeni, da meritve v tem območju niso zanesljive. Na to nas v aplikaciji opozori znak
                    <img src="img/znak_klicaj.png" style="width:30px"/> z opozorilnim tekstom.
                </p>


                <div class='lead col-lg-12' style="margin-bottom: 40px">
                    <p class="col-lg-1"><i align="left" class="fa fa-plus fa-2x col-md-1" style="color: red;"></i></p>
                    <p class="lead col-lg-11">V pomoč pri pravilnem določanju elementa in velikosti upornosti,
                        kapacitivnosti ali induktivnosti, predlagamo, da si najprej preberete poglavje o lastnostih elementov vezij.
                    </p>
                </div>

                <div class='lead col-lg-12' style="margin-bottom: 40px">
                    <p class="col-lg-1"><i align="left" class="fa fa-hand-o-right fa-2x col-md-1" style="color: blue;"></i></p>
                    <p class="lead col-lg-11">
                        Kliknite na zavihek KVIZ in odgovarjajte na sprotna vprašanja. V zavihku Meritve po potrebi
                        spremenite obliko vzbujalnega signala, frekvenco ali amplitudo (vršno napetosti) ter iz opazovanja
                        toka in napetosti na grafu (osciloskopu) odgovorite na postavljena vprašanja. Za nadaljevanje –
                        izbiro novega elementa – boste morali pravilno odgovoriti na določeno število vprašanj.
                    </p>
                </div>
            </div> <!-- col-lg-12 -->
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- circuit-el-medium -->