<div id='circuit-el-remote-desc' class='content-section-a'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12 col-sm-6'>
                <div class='clearfix'></div>
                <h2 class='section-heading'>Oddaljen eksperiment: lastnosti elementov vezij</h2>

                <h4 style="color: blue;" class='section-heading'>Kratek opis eksperimenta</h4>

                <p class='lead'>
                    Preučevali boste odzive posameznih elementov električnih vezij (električnega upora, kondenzatorja,
                    tuljave in diode) na vzbujanje z napetostnim signalom sinusne, trikotne in pravokotne oblike. Naboru
                    elementov vezij lahko dodate še druge elemente. Pred izvajanjem boste preučevan element povezali z
                    merilnim uporom in računalniško-merilno kartico. Pri tem si boste pomagali z vezicami in preiskusno
                    ploščico. Po vezavi boste zagnali aplikacijo in opazovali ter merili tok skozi element. Aplikacija
                    dopušča, da lahko sami spreminjate amplitudo, frekvenco in obliko vzbujalnega napetostnega signala.
                </p>

                <p class='lead'>
                </p>

                <h4 style="color: blue; margin-top: 30px;" class='section-heading'>Način izvajanja eksperimenta</h4>

                <div class="col-lg-12">
                    <div class="row featurette">
                        <div class="col-md-1">
                            <i class="fa fa-plane fa-5x" style="color: red;"></i>
                        </div>
                        <div class="col-md-11" style="text-align: center">
                            <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Zahtevnejši način izvajanja</p>
                            <p class='lead'>
                                V zahtevnejšem načinu izvajanja boste poleg tega, da boste morali ugotoviti, kateri element
                                je priklopljen, morali ugotoviti tudi, kolikšna je vrednost upornosti, kapacitivnosti,
                                induktivnosti itd. Poljubno boste lahko izbrali tudi obliko vzbujalnega signala. Kliknite na <a href="index.html?page=elementi-vezij-tezji
">to povezavo</a>.
                            </p>
                        </div>
                    </div><br>

                    <div class="row featurette">
                        <div class="col-md-1">
                            <i class="fa fa-car fa-4x" style="color: orange;"></i>
                            <!--<img class="img-circle" alt="Srednje zahtevni način izvajanja" style="width: 80px; height: 80px; margin-top: 10px; border: 2px solid orange;">-->
                        </div>
                        <div class="col-md-11" style="text-align: center">
                            <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Srednje zahteven način izvajanja</p>
                            <p class='lead'>
                                V srednje zahtevnem načinu izvajanja eksperimenta boste imeli nekoliko poenostavljeno fizikalno razlago
                                povezave med tokom in napetostjo za vsak posamezen element. Vzbujalni signali bodo omejeni tako, da bo vedno
                                opazen nek odziv. Kliknite na <a href="index.html?page=elementi-vezij-srednji">to povezavo</a>.
                            </p>
                        </div>
                    </div><br>

                    <div class="row featurette">
                        <div class="col-md-1">
                            <i class="fa fa-bicycle fa-4x" style="color: #01DF01"></i>
                            <!--<img class="img-circle" alt="Enostavni način izvajanja" style="width: 80px; height: 80px; margin-top: 10px; border: 2px solid green;">-->
                        </div>
                        <div class="col-md-11" style="text-align: center;">
                            <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Enostaven način izvajanja</p>
                            <p class='lead'>
                                Enostavni način izvajanja je namenjen predvsem opazovanju, kako se obnašajo elementi vezja pri vzbujanju z
                                različnimi signali, ki so že vnaprej pripravljeni. Za razlago uporabimo le malo matematične podpore.
                                Kliknite na <a href="index.html?page=elementi-vezij-lazji">to povezavo</a>.
                            </p>
                        </div>
                    </div><br>
                </div>
            </div>

            <h4 style="color: blue; margin-top: 30px;" class='section-heading col-md-12'>Dodatni eksperimenti</h4>
            <p class='lead col-md-12'>
                Če ste opravili eksperiment v enostavnem načinu izvajanja, se lahko preizkusite še v srednje zahtevnem
                ali zahtevnejšem načinu. S tem boste svoje znanje preverili in dodatno nadgradili. Poleg priloženih
                elementov lahko uporabite še svoje. Zanimivo je opazovati odziv elementov v širšem frekvenčnem območju.
                Pri tem velja poudariti, da se resnični elementi ne obnašajo vselej tako, kakor pričakujemo od idealnih
                elementov. Pri zelo visokih frekvencah ima kondenzator tudi induktivne lastnosti (deluje torej kot tuljava).
                Pri zelo nizkih frekvencah ima tuljava praktično le uporovne lastnosti. In še bi lahko naštevali.<br /><br />
                Poleg priloženih elementov lahko v eksperimentu preizkusite tudi druge elemente iste vrste. Obstajajo
                različne izvedbe kondenzatorjev, mi smo v eksperimentu uporabili le enega. Tudi diode so različne, na primer
                Zener diode, LED diode, Schottky diode, laserske diode, fotodiode, itd. Vsaka ima nekoliko drugačne
                lastnosti in s tem tudi drug namen v elektrotehniki.<br />
            </p>


            <h4 style="color: blue; margin-top: 30px;" class='col-md-12'>Za radovedne</h4>
            <p class="lead col-md-12">
            <ol class="lead">
                <li class='lead'>V polprevodniških čipih je ogromno različnih elementov, predvsem zelo miniaturnih uporov,
                    kondenzatorjev in tranzistorjev. V čipu, ki so možgani priljubljene igralne konzole XBOX One
                    (Microsoft), je kar 5 milijard (5*10<sup>9</sup>) tranzistorjev na površini 363 mm<sup>2</sup>. Dimenzija enega samega
                    elementa v takem vezju je 22 nm ali 22 milijardink metra (22*10<sup>-9</sup>) .
                </li>
                <li class='lead'>Elemente pri pouku običajno idealiziramo. Upor predstavimo kot idealni upor, ki izkazuje le
                    ohmske lastnosti, kondenzator predstavimo kot idealni kondenzator, ki izkazuje le kapacitivne
                    lastnosti itd. V resnici pa delo elektrotehnika oteži dejstvo, da izkazujejo realni elementi
                    idealne lastnosti le v določenih okoliščinah, npr. znotraj območja ustreznih temperatur ali
                    frekvenc. To moramo elektrotehniki upoštevati že pri načrtovanju vezij.
                </li>
                <li class='lead'>Prvi kondenzator sta hkrati izdelala prof. Pieter van Musschenbroek iz kraja Leiden leta 1745
                    in nemški duhovnik Ewald Georg von Kleist. Imenovali so ga Leidenska steklenica, ker je res bil
                    narejen iz steklenice, napolnjene s tekočino ali kakšno drugo snovjo. Vsa notranjost steklenice
                    je služila kot ena elektroda, zunanjost steklenice, običajno kar eksperimentatorjeva roka, pa kot druga.
                    <img src='img/kondenzator-01.png' alt="Kondenzator" style="margin-top: 10px; width: 60%" />
                </li>

                <li class="lead">
                    Ob elektrenju se je električni naboj porazdelil po zunanji in notranji površini steklenice,
                    in sicer le na tistem delu, ki je bil prevoden. Običajno so dovajali naboj kar s trenjem,
                    za kar so uporabili preproste vrtljive naprave, kot jo kaže slika. Ob razelektritvi so lahko
                    dosegli kar spodoben tokovni sunek.<br /><br />
                    Najmodernejši kondenzatorji uporabljajo nanotehnologijo za povečanje kapacitivnosti.
                    Večjo kapacitivnost dosežemo s povečanjem površine elektrod in zmanjšanjem razdalje med njima.
                    Zelo učinkovito dosežemo oboje, če kot elektrodi uporabimo mreži prevodnih nanocevk, zloženih
                    tesno skupaj. Nanocevke imajo izjemno majhen premer (nekaj nm) Gostota električne energije, ki
                    jo lahko dosežemo v takem kondenzatorju, je neprimerljivo večja  od gostote energije v Leydenski
                    steklenici.<br />
                    <img src='img/kondenzator2.png' alt="Kondenzator" style="margin-top: 10px; width: 40%;" />
                </li>
                <li class="lead"><a href="http://en.wikipedia.org/wiki/Hans_Christian_%C3%98rsted">Hans Christian Ørsted</a> je leta
                    1820 slučajno odkril, da električni tok povzroči premik namagnetene igle kompasa. Ta pojav je
                    nadgradil André-Marie Ampère, ki je učinek toka na magnetno iglo povečal tako, da je kot vodnik
                    s tokom uporabil več ovojev žice. Dolgo časa so inštrumenti za merjenje toka temeljili na pojavu
                    odklanjanja magnetne igle v magnetnem polju. V okolici navitja žice, po katerem teče tok, se pojavi
                    magnetno polje. Na sliki je D'Arsonvalov galvanometer, primer klasičnega merilnika toka.<br />
                    <img class="col-md-12" src='img/hans_christian.png' alt="D'Arsonvalovega galvanometer" style="margin-top: 10px; width: 30%;">
                </li>
            </ol>
            </p>
        </div>
        <p class="lead">
            <a href='#' class='btn btn-default btn-lg exp-btn'><span>Zaženi aplikacijo</span></a>
        </p>
    </div>
</div> <!-- /.container -->