<div id='index-intro' class='intro-header'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12'>
                <div class='intro-message'>
                    <h1>eEksperimenti</h1>
                    <h3>Dobrodošli na spletni strani eEksperimentov</h3>
                    <p class='lead intro-text'>
                        eEksperimenti so za vas, srednješolce in osnovnošolce, ki si želite vstopiti v svet merjenja električnih signalov in se seznaniti z načinom dela elektrotehnikov, raziskovalcev, znanstvenikov. Ob izvajanju eksperimentov boste uporabljali merilno opremo, ki jo uporabljamo tudi mi, raziskovalci in študentje na Fakulteti za elektrotehniko Univerze v Ljubljani. Enako merilno opremo uporabljajo v ustanovah in podjetjih v Sloveniji in po svetu.
                    </p>
                    <hr class='intro-divider'>
                    <ul class='list-inline'>
                        <li><a href='#zakaj' class='btn btn-default btn-lg'> <span class='network-name'>Zakaj?</span></a></li>
                        <li><a href='#zacetek' class='btn btn-default btn-lg'><span class='network-name'>Kako začeti?</span></a></li>
                        <li><a href='#' class='btn btn-default btn-lg'><span class='network-name'>LINK</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.intro-header -->

<div id='more-info' class='banner'>
    <div class='container'>
        <div class='row'>
            <!--div id='zakaj' class='col-lg-3'><h2>Zakaj?</h2></div>-->
            <div id='zakaj' class='col-lg-12'>
                <h2 style='margin-bottom: 5px;'>Zakaj?</h2>
                <p class='lead intro-text'>
                    Menimo, da je rokovanje z merilno opremo najbolj neposreden način, da pridete v stik s praktičnim delom. Na enostaven in voden način – korak za korakom, vendar zelo usmerjeno proti cilju. Ob vodenih razlagah o osnovnih električnih pojavih, ob pojasnilih o uporabljeni merilni opremi in ob usmerjenem vodenju, in sicer tako, da si težavnostni nivo izberete sami.
                </p>
            </div>

            <div id='zacetek' class='col-lg-12' style="margin-top:70px;">
                <h2 style='margin-bottom: 5px;'>Kako začeti?</h2>
                <p class='lead intro-text'>
                    Od začetka. V zavihku  <strong>Osnovni pojmi </strong> se boste seznanili z osnovnimi pojmi, ki vam bodo omogočali lažje razumevanje eksperimentov in načinov merjenja.
                    Na kratko bomo pojasnili, kaj je električni naboj, kako je povezan z električnim tokom in kako z napetostjo. Seznanili se boste z osnovnimi električnimi veličinami, njihovimi simboli in z merskimi enotami skupaj s predponami, ki določajo njihove vrednosti. Spoznali boste načine merjenja električnih signalov.
                    <br /><br />
                    V zavihku <strong>Merilni sistem</strong> se boste spoznali z računalniško-merilno kartico Red Pitaya ter načinom njene uporabe.
                    <br /><br />
                    <strong>Eksperimenti</strong> so osrednji del platforme. Vsak eksperiment vsebuje osnovno razlago, način priprave eksperimenta ter način izvajanja. Težavnostno stopnjo si boste izbrali sami glede na vaše predhodne izkušnje s povezovanjem elementov, merilno kartico in z izvajanjem meritev.
                    <br /><br />
                    Če jih še nimate, boste morda izbrali lažji način, prilagojen začetnikom. Kasneje se lahko preskusite v zahtevnejšem načinu izvajanja. Verjamemo, da je tak način učenja najprimernejši. Pripeljal vas bo do konkretnih znanj, ki vam bodo v veselje in ponos. Morda vam celo nakažejo poklicno pot.
                    <br /><br />
                    V zavihku <strong>Uporaba senzorjev</strong> smo pripravili primere aplikacij za delo z najrazličnejšimi senzorji. Tu ni vodenih eksperimentov. Eksperimente si boste zamislili sami. Veseli bomo vaših lastnih projektov, ki jih boste pripravili s pomočjo gotovih aplikacij.
                    <br /><br />
                    V zavihku <strong>Aplikacije</strong> so zbrane vse aplikacije, pripravljene v okviru platforme. To so namensko prilagojeni merilni inštrumenti, ki se izvajajo na računalniško-merilni kartici Red Pitaja, upravljamo pa jih prek spletne strani.
                    <br /><br />
                    Zadnji zavihek <strong>O projektu</strong> je namenjen podrobnejši predstavitvi ideje platforme, predstavitvi izvajalcev ter povabilu k sodelovanju.
                </p>
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.banner -->