<div id='light-bulb-desc' class='content-section-a'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12 col-sm-6'>
                <div class='clearfix'></div>
                <div class="row featurette">
                    <h2 class='section-heading'>Vklop žarnice</h2>

                    <h4 style="color: blue;" class='section-heading'>Kratek opis eksperimenta</h4>

                    <p class='lead col-lg-12'>
                        V eksperimentu boste opazovali električni tok skozi žarnico ob priklopu žarnice na električno
                        napetost. Zanimalo nas bo, kako se tok spreminja s časom takoj po sklenitvi električnega kroga.
                        V neposredno bližino žarnice boste postavili tudi fotodiodo ali sončno celico, s katero boste
                        merili osvetlitev, ki jo povzroča svetloba žarnice. Zanimalo nas bo, kako se osvetlitev spreminja
                        s časom in tudi, ali se osvetlitev spreminja na enak način kot tok skozi žarnico.
                        Elementi, ki jih boste uporabili  v eksperimentu so žarnica, vir napetosti (lahko na Red Pitayi
                        ali zunanji vir, npr. baterija), fotodioda ali sončna celica in dva merilna upora.<br /><br />
                        Poleg tega seveda potrebujemo Red Pitayo in prototipno ploščico.

                    </p>
                    <p class='lead col-lg-12'>
                        <img src='img/zarnica.png' alt="Shema" style="margin-top: 10px;">
                        <img src='img/zarnica1.png' alt="Shema" style="margin-top: 10px;">
                    </p>
                    <p class='lead col-lg-12'>
                        <strong>Opomba:</strong>
                        V skladu z elektrotehniško terminologijo v vseh poskusih uporabljamo naslednje poimenovanje:
                        element, katerega značilnost je, da se upira toku, imenujemo upor (v fiziki bi temu rekli upornik),
                        lastnost tega elementa, to je razmerju med padcem napetosti, ki poganja tok, in tokom, ki teče skozi
                        element, rečemo upornost (v fiziki bi temu rekli upor). Upornost merimo v ohmih []. Kadar govorimo
                        o lastnostih snovi, da se upirajo toku, govorimo o specifični upornosti (v fiziki bi temu rekli
                        specifični upor), ki jo merimo v enotah ohm krat meter [&#8486;m].
                    </p>

                    <h4 style="color: blue; margin-top: 30px;" class='section-heading'>Način izvajanja eksperimenta</h4>

                    <div class="col-md-1">
                        <i class="fa fa-plane fa-5x" style="color: red;"></i>
                    </div>
                    <div class="col-md-11" style="text-align: center">
                        <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Zahtevnejši način izvajanja</p>
                        <p class='lead col-lg-12'>
                            Za zahtevnejši način izvajanja eksperimenta, kjer je natančno razložena merilna shema in način
                            priključitve Red Pitaye ne pa tudi konkretne povezave elementov na preskusni ploščici, kliknite
                            na <a href="index.html?page=zarnica-tezji">to povezavo.</a>
                        </p>
                    </div>

                    <div class="col-md-1">
                        <i class="fa fa-car fa-4x" style="color: orange;"></i>
                    </div>
                    <div class="col-md-11" style="text-align: center">
                        <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Srednje zahteven način izvajanja</p>
                        <p class='lead col-lg-12'>
                            Za srednje zahteven način izvajanja eksperimenta, ki vključuje tudi natančen opis povezav elementov na preskusni ploščici ter povezav z Red Pitayo, kliknite na <a href="index.html?page=zarnica-srednji">to povezavo</a>.
                        </p>
                    </div>

                    <div class="col-md-1">
                        <i class="fa fa-bicycle fa-4x" style="color: #01DF01"></i>
                    </div>
                    <div class="col-md-11" style="text-align: center;">
                        <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Lažji način izvajanja</p>
                        <p class='lead col-lg-12'>
                            V enostavnem načinu izvajanja so povezave že narejene, potrebna je le priključitev Red Pitaye. <a href="index.html?page=zarnica-lazji">Povezava</a>.
                        </p>
                    </div>

                    <h4 style="color: blue; margin-top: 30px; margin-bottom: 10px;" class='section-heading'>Dodatni eksperimenti iz vklopa žarnice</h4>
                    <p class="lead">
                        S senzorjem svetilnosti opazujte svetlobni tok, ki ga oddajajo različne sijalke (žarnice),
                        priključene na izmenično omrežno napetost. Opazujte žarnico na žarilno nitko, navadno neonsko
                        luč in  varčno  žarnico., torej ne ob preklopu temveč tedaj, ko je prehodni pojav že potekel.
                    </p>

                    <h4 style="color: blue; margin-top: 30px; margin-bottom: 10px;" class='section-heading'>Za radovedne</h4>
                    <p class="lead col-lg-12">
                        Vpliv temperature na upornost lahko izkoristimo tudi za merjenje temperature. Posebej za ta
                        namen prirejen element imenujemo termistor. Upor termistorja je zelo odvisen od temperature in
                        se opazno spremeni že ob majhni spremembi temperature, kar omogoča merjenje temperature preko
                        merjenja upornosti termistorja.
                    </p>

                    <h4 style="color: blue; margin-top: 30px; margin-bottom: 10px;" class='section-heading'>Dodatna vprašanja za radovedne</h4>
                    <ul class="lead col-lg-12">
                        <li>Ali imajo prevodniki ves čas enako upornost (ne glede na spremembe okolja, kot so  temperatura, tlak, vlaga v zraku,  ...)?</li>
                        <li>Kako se specifična upornost volframa spreminja v odvisnosti od temperature (se ne spreminja, se zveča/zmanjša pri višji temperaturi)?</li>
                        <li>Zakaj se tok skozi žarnico v kratkem času po vklopu spreminja, preden se ustali pri stalni vrednosti?</li>
                        <li>Kolikšna je moč segrevanja žarnice ob trenutku vklopa?</li>
                        <li>Kolikšna je moč segrevanja žarnice, ko se tok skozi žarnico ustali?</li>
                        <li>Poskusi na podlagi opažanj in rezultatov poskusa pojasniti, zakaj žarnica običajno pregori takoj ob vklopu?</li>
                    </ul>
                </div>

                <a href="index.html?page=zarnica-razlaga"><h4 style="color: blue; margin-top: 30px; margin-bottom: 10px;" class='section-heading'>Razlaga eksperimenta eŽarnica</h4></a>

                <div>
                    <a href='/eZarnica/' target='_blank'  class='btn btn-default btn-lg exp-btn'><span>Zaženi aplikacijo</span></a>
                </div>

            </div>
        </div> <!-- row -->
    </div> <!-- /.container -->
</div> <!-- /.content-section-a -->