<div id="light-bulb-explanation" class='content-section-a'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12 col-sm-6'>
                <h2 style="margin-top: 30px;" class='section-heading'>Razlaga eksperimenta eŽarnica</h2>

                <p class="lead col-lg-12">
                    Ko prižgem luč se zdi, da se luč prižge v istem trenutku, vendar temu ni tako. Ko smo z Red Pitayo
                    kot v počasnem filmskem posnetku opazovali časovni potek električnega toka skozi žarnico in hkrati
                    tudi količino svetlobe, ki jo žarnica pri tem oddaja, smo ugotovili, da žarnica ne zasveti v istem
                    trenutku, ko jo priklopimo na vir napetosti, pač pa malo kasneje.<br /><br />
                    Na začetku eksperimenta je žarnica izključena in hladna.  Skozi njo ne teče tok. Nitka je na sobni
                    temperaturi, ki se ne spreminja ali pa se spreminja relativno počasi. To stanje je začetno stanje
                    žarnice. Ko na žarnico priključimo napetost, se prične nitka v žarnici zaradi toka segrevati od začetne
                    do končne temperature. To hitro dogajanje, ki ga kot običajni uporabniki žarnic običajno spregledamo,
                    imenujemo prehodni pojav. Pojav je zelo hiter in ga z opazovanjem brez posebnih pripomočkov niti ne
                    moremo opaziti. Zato prehodni pojav opazujemo z osciloskopom, ki lahko zazna in prikaže tudi tako hitre
                    spremembe, da jih naše oči ne zaznajo. Z osciloskopom smo merili tako časovno spreminjanje toka kot
                    tudi svetilnost žarnice. <br /><br />
                    Ko žička v žarnici doseže dovolj visoko temperaturo – okoli 500 °C prične oddajati šibko svetlobo.
                    Višja, kot je temperatura žičke, bolj žarnica sveti. Ko se razmere ustalijo, naj bi se žička
                    segrela na načrtovano temperaturo, ki znaša okoli 3000 °C(!), in oddaja belo svetlobo. Ko nitka v
                    žarnici žarnica doseže končno temperaturo, se le ta ne spreminja več. Tako stanje imenujemo stacionarno,
                    kar pomeni, da se s časom razmere ne spreminjajo. V stacionarnem stanju je v žarnici vzpostavljeno
                    ravnovesje med z električnim tokom dovedeno energijo in iz žarnice odvedeno energijo v obliki sevanja.
                    Temperatura nitke se ne spreminja več, zato žarnica oddaja konstantno svetlobno moč - sveti z
                    nespremenjeno svetilnostjo. Ker se nitki žarnice ne spreminja več temperatura, se ji  ne spreminja
                    niti upornost. Zato se tudi tok skozi žarnico se ne spreminja več. Da žareča nitka oddaja energijo,
                    ki ohlaja žarnico, lahko opazujemo, ko žarnici izključimo vir dovajanja energije – električni tok in
                    opazimo, da žarnica ne ugasne v trenutku, ampak se svetlobni tok, ki ga žarnica oddaja od trenutka
                    izklopa toka, zmanjšuje postopoma. To dokazuje, da se žarnica ohlaja in med ohlajanjem še vedno oddaja
                    energijo tudi v obliki vidne svetlobe.<br /><br />

                    Specifična upornost volframa, iz katerega je žarilna nitka žarnice, je odvisna od temperature. Ko je
                    nitka hladna, je upornost nitke majhna. Ko je nitka vroča, je upornost nitke velika. Zato je tok, ki
                    pri konstantni napetosti  teče skozi nitko, ko je le ta hladna, velik, ko pa se nitka segreje na
                    delovno temperaturo, pa majhen.<br /><br />
                    Odvisnost specifične upornosti volframa od temperature kaže graf na sliki 1.
                </p>

                <p class='lead col-lg-12'>
                    <img src='img/relativna_upornosti.png' alt="Graf relativne upornosti" style="margin-top: 10px;">
                </p>

                <p class="lead col-lg-12">
                    Slika 1: Relativna (specifična) upornost volframa v odvisnosti od temperature glede na upornost pri
                    temperaturi 300 K. <a href="http://physics.usask.ca/~bzulkosk/Lab_Manuals/EP354/ep354_thermal-radiation-lab_Tungsten-Temp-Resistivity.pdf">Vir</a>.
                </p>


                <p class="lead col-lg-12">
                    Če žarnico priključimo na izmenično napetost, se napetost in tok skozi žarnico časovno spreminjata.
                    Zaradi tega se spreminja tudi v žarnico dovedeno električno delo. To pomeni, da se spreminja temperatura
                    nitke v žarnici, kar povzroči spreminjanje količine svetlobe, ki jo žarnica oddaja. Ker pa se tok
                    skozi žarnico spreminja veliko hitreje, kot se je sposobna ohlajati in segrevati nitka v žarnici,
                    je nihanje svetlobnega toka, ki ga oddaja žarnica na žarilno nitko, majhno in ga s prostim očesom
                    ne opazimo. Čeprav je omrežna frekvenca 50 Hz, žarnica utripa z dvojno frekvenco 100 Hz. To se dogaja
                    zato, ker utripanje svetilnosti žarnice povzroči utripanje moči dovedenega električnega dela v žarnico.
                    Električna moč je enaka produktu toka in napetosti na žarnici (P = U * I). Omrežna napetost in tok nihata
                    okoli ničelne vrednosti. V enem nihaju napetosti teče največji tok najprej v eno in nato v drugo smer.
                    Zato je dovedena električna moč v enem nihaju dvakrat nič in dvakrat doseže maksimalno vredost: nitka
                    se segreva enako, naj teče tok v eno ali v drugo smer. Dovedena moč v žarnico torej utripa z dvakratno
                    frekvenco napetosti na žarnici, kar lahko prikažemo na sliki 2:
                </p>

                <p class='lead col-lg-12'>
                    <img src='img/shematski_prikaz_napetosti.png' alt="Shematski prikaz napetosti" style="margin-top: 10px; width: 60%">
                </p>
                <p class="lead col-lg-12">
                    Slika 2: Shematski prikaz napetosti (U, rdeče), toka (I, zeleno) in električne moči (P = U * I, modro)
                    za žarnico. Ker napetost določa smer toka je produkt UI pozitiven v vsaki polovici nihaja, tako za
                    sočasno pozitivni vrednosti toka in napetosti kot za sočasno negativni vrednosti toka in napetosti.
                </p>

                <p class="lead col-lg-12">
                    Ker se nitka žarnice ne ohladi hipoma, je utripanje žarnice na žarilno nitko s frekvenco 100 Hz neizrazito.
                    Fluorescentne »žarnice« nimajo žarilnih nitk, ampak se v njih za oddajanje svetlobe uporablja poseben plin,
                    ki sveti, ko skozenj teče električni tok. Ko je električni tok skozi plin enak nič, taka svetilka ne sveti,
                    zato se tako imenovane »neonke« zares ugasnejo in prižgejo po 100 krat vsako sekundo, ko so priključene na
                    omrežno napetost 50 Hz. Zato pri tovrstnih sijalkah lahko opazimo (moteče) utripanje tudi s prostim očesom.<br /><br />
                    Tok skozi cev sijalke varčne žarnice je tudi izmeničen, vendar zaradi tehnoloških vzrokov veliko višje
                    frekvence, kot omrežna napetost. Zato pri teh žarnicah utripanja s prostim očesom ne opazimo.
                </p>


            </div> <!-- col-lg-12 -->
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- light-bulb-explanation -->