<div id='osciloscope-desc' class='content-section-a'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12 col-sm-6'>
                <div class='clearfix'></div>
                <h2 class='section-heading'>Osciloskop in signalni generator</h2>
                <h4 style="color: blue;" class='section-heading'>Kratek opis eksperimenta</h4>
                <p class='lead'>
                    Pripravite Red Pitayo na eksperiment tako, da izhod signalnega generatorja, ki se nahaja na
                    hitrem izhodu 1, povežete z vhodnim kanalom osciloskopa na hitrem vhodu 1. Za povezavo uporabite
                    priložen koaksialen kabel.  V spletnem brskalniku zaženite aplikacijo Osciloskop in signalni generator.
                    Delo z inštrumentoma poteka preko nadzornih elementov aplikacije (različnih gumbov ter vnosnih,
                    potrditvenih in izbirnih polj). V prvem delu eksperimenta vas bomo vodili skozi osnovne funkcionalnosti
                    inštrumentov. Po razlagi ste na vrsti vi, da jih nastavite in preizkusite.
                </p>

                <p class='lead'>
                    Sledi eksperiment, kjer boste s pomočjo osciloskopa izmerili osnovne parametre štirih vnaprej
                    pripravljenih vzorčnih signalov. V lažjem načinu izvajanja boste imeli na voljo vse funkcije osciloskopa,
                    tudi samodejno nastavitev merilnih območij in funkcijo prikaza signalnih parametrov. Srednje zahteven
                    način dovoljuje uporabo samodejnih nastavitev merilnih območij, ne pa tudi prikaza signalnih parametrov.
                    V težjem načinu izvajanja sta obe funkcionalnosti samodejne nastavitve onemogočeni.
                </p>

                <h4 style="color: blue; margin-top: 30px;" class='section-heading'>Način izvajanja eksperimenta</h4>

                <div class="col-lg-12">
                    <div class="row featurette">
                        <div class="col-md-1">
                            <i class="fa fa-plane fa-5x" style="color: red;"></i>
                        </div>
                        <div class="col-md-11" style="text-align: center">
                            <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Zahtevnejši način izvajanja</p>
                            <p class='lead'>
                                Za zahtevnejši način izvajanja eksperimenta, kjer se boste naučili uporabljati vse funkcije osciloskopa in signalnega
                                generatorja ob izčrpni razlagi, kliknite na <a href="index.html?page=osciloskop-tezji">to povezavo.</a>
                            </p>
                        </div>
                    </div><br>

                    <div class="row featurette">
                        <div class="col-md-1">
                            <i class="fa fa-car fa-4x" style="color: orange;"></i>
                            <!--<img class="img-circle" alt="Srednje zahtevni način izvajanja" style="width: 80px; height: 80px; margin-top: 10px; border: 2px solid orange;">-->
                        </div>
                        <div class="col-md-11" style="text-align: center">
                            <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Srednje zahteven način izvajanja</p>
                            <p class='lead'>
                                Za srednje zahteven način izvajanja, kjer se boste naučili uporabljati osnovne in napredne funkcije osciloskopa in signalnega
                                generatorja ob okrnjeni razlagi, kliknite na <a href="index.html?page=osciloskop-srednji">to povezavo</a>.
                            </p>
                        </div>
                    </div><br>

                    <div class="row featurette">
                        <div class="col-md-1">
                            <i class="fa fa-bicycle fa-4x" style="color: #01DF01"></i>
                            <!--<img class="img-circle" alt="Enostavni način izvajanja" style="width: 80px; height: 80px; margin-top: 10px; border: 2px solid green;">-->
                        </div>
                        <div class="col-md-11" style="text-align: center;">
                            <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Lažji način izvajanja</p>
                            <p class='lead'>
                                Za enostavni način izvajanja, kjer se boste naučili uporabljati osnovne funkcije osciloskopa in signalnega generatorja ob preprosti
                                razlagi, kliknite na <a href="index.html?page=osciloskop-lazji">to povezavo</a>.
                            </p>
                        </div>
                    </div><br>
                </div>
            </div>

            <h4 style="color: blue; margin-top: 30px;" class='section-heading'>Dodatni eksperimenti</h4>
            <p class='lead'>
                S pomočjo aplikacije in lekcij 1 in 2 ste se naučili uporabljati osciloskop in signalni generator. Sedaj si lahko zamislimo še druge poskuse:
            </p>
            <p class='lead'>
            <ol class='lead'>
                <li>Signalni generator omogoča ustvarjanje signalov poljubnih oblik. V signalni generator uvozite datoteko »batman.csv«, poženite osciloskop in opišite signal.</li>
                <li>Ustvarite svoj lasten signal. Zapišite podatke v CSV datoteko in signal prikažite na osciloskopu. Primer ustvarjanja CSV datoteke najdete na spodnji povezavi:
                    <a href="http://wiki.redpitaya.com/index.php?title=File_upload_example">tej povezavi (v angleškem jeziku)</a>.
                </li>
            </ol>
            </p>

            <h4 style="color: blue; margin-top: 30px;" class='section-heading'>Za radovedne</h4>
            <p class='lead'>
            <ol class='lead'>
                <li>Osciloskop je izumil Jonathan Zenneck leta 1899, kar sovpada z raziskavami elekričnih signalov.</li>
                <li>S sodobnimi osciloskopi lahko zaznavamo spremembe napetosti, ki se zgodijo v manj kot 0,00000000005 sekunde, kar zapišemo tudi kot 5∙10<sup>-11</sup> s. Za primerjavo, en zamah mušjega krila traja 20.000.000 krat dlje. Koliko tisočink sekunde traja zamah mušjega krila?</li>
                <li>Septembra 2015 je najdražji in najzmogljivejši komercialni osciloskop na svetu Agilent DSA-X 9620Q. Stane kar 450.000 eurov. Je 620 krat hitrejši od sodobnih osciloskopov namenjenih splošni uporabi.</li>
            </ol>
            </p>
            <!--<a href='index.html?page=osciloskop'  class='btn btn-default btn-lg exp-btn'><span>Zaženi aplikacijo</span></a>-->
        </div>
    </div> <!-- /.container -->
</div> <!-- /.content-section-a -->