<div id="press">
    <div class="container">
        <div class="row">
            <div class='col-lg-12 col-sm-6'>
                <p class='lead'>
                    <strong>eEksperimenti</strong> predstavljajo inovativno platformo za poučevanje naravoslovja v srednjih in osnovnih šolah z uporabo računalnika in merilne kartice <span><a href="http://redpitaya.com/">Red Pitaya</a></span>, ki omogoča zajem električnih signalov.
                </p>

                <p class='lead'>
                    <img src='img/eeksperimenti_za_medije.png' alt="eEksperimenti, za medije" style="width:50%;">
                </p>
                <p class='lead'>
                    Platforma vsebuje gradiva, ki omogočajo začetno seznanjanje učencev z osnovnimi koncepti električnih meritev, pojasnila za uporabo merilne
                    platforme ter več detajlno razdelanih eksperimentov z aplikacijami, ki so zasnovane tako, da so primerne za različne nivoje znanja.
                    Aplikacije je mogoče uporabiti tudi za samostojno raziskovalno delo ter jih nadgrajevati in dopolnjevati.
                </p>
                <p class='lead'>
                    Z eEksperimenti želimo seznaniti osnovne in srednje šole z računalniško-merilno kartico Red Pitaya, ki omogoča uporabo modernih merilnih metod
                    v povezavi z računalniki. Na ta način želimo mlade motivirati za zanimanje naravoslovja, natančneje elektrotehnike in jih navdušiti za študij
                    in kasneje morda tudi za raziskovalno delo na področju naravoslovja in informacijsko-komunikacijskih tehnologij. Prav to tehnologijo namreč
                    uporabljamo tudi sami na univerzah in raziskovalnih inštitutih.
                </p>

                <p class="lead">
                    Vodja projekta je prof. dr. Dejan Križaj s Fakultete za elektrotehniko, Univerze v Ljubljani. V projektu sodelujejo še sodelavci s
                    Fakultete za računalništvo in informatiko ter Pedagoške fakultete, Univerze v Ljubljani.
                </p>
                <p class="lead">
                    Več informacij: <a href="mailto:dejan.krizaj@fe.uni-lj.si">dejan.krizaj@fe.uni-lj.si</a>
                </p>
                <p class="lead">
                    <em>Razvita programska oprema je odprtokodna in bo na razpolago brezplačno. Uporabniki jo lahko po svoji meri spreminjajo in nadgrajujejo.</em>
                </p>

                <p class="lead">
                    Projekt eEksperimenti delno financira Evropska unija iz Evropskega sklada za regionalni razvoj ter Ministrstvo za izobraževanje, znanost
                    in šport. Operacija se izvaja v okviru Operativnega programa krepitve regionalnih razvojnih potencialov.
                </p>

                <div class='col-lg-4' style="margin-top:40px;">
                    <p class='lead intro-text'>
                        <img src='img/ministrstvo_za_solstvo.jpg' alt="eEksperimenti, za medije" style="width:90%;">
                    </p>
                </div>

                <div class='col-lg-4' style="margin-top:10px;">
                    <p class='lead intro-text'>
                        <img src='img/operacijo_financira.JPG' alt="eEksperimenti, za medije" style="width:90%;">
                    </p>
                </div>

                <div class='col-lg-4'>
                    <p class='lead intro-text'>
                        <img src='img/univerza_v_ljubljani.png' alt="eEksperimenti, za medije" style="width:90%;">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>