<div id='solar-cell-desc' class='content-section-a'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12 col-sm-6'>
                <div class='clearfix'></div>
                <h2 class='section-heading'>Sončna celica</h2>
                <h4 style="color: blue;" class='section-heading'>Kratek opis eksperimenta</h4>

                <p class='lead'>
                    V eksperimentu poleg Red Pitaye, prototipne ploščice in vezic uporabite sončno celico, upor v obliki potenciometra, ki bo služil kot porabnik (breme) s spremenljivo upornostjo ter merilni upor.
                </p>
                <p class='lead'>
                    <img src='img/soncna_celica.png' alt="Elementi sončne celice" style="margin-top: 10px; align:center">
                </p>

                <p class='lead'>
                    Na sončno celico priključimo porabnik (breme), ki mu lahko spreminjamo električno upornost. Primer bremena, ki to omogoča,
                    je spremenljiv upor (simbol R, enota Ω), ki mu z vrtenjem gumba spreminjamo upornost. Takemu elementu rečemo potenciometer.
                    Merili bomo električni tok (simbol I, enota A), ki ga pri izbrani osvetlitvi požene sončna celica. Merili bomo tudi napetost
                    (simbol U, enota V) na priključnih sponkah sončne celice.<br /><br />

                    Zanimala nas bo električna moč, ki jo sončna celica daje bremenu. Moč (simbol P, enota W) katerega koli elementa v tokokrogu
                    je produkt toka skozi element in napetosti na tem elementu, P = U * I. Če je element vir napetosti, moč daje, če pa je porabnik (breme), moč prejema.<br /><br />

                    Od sončne celice želimo čim večji izkoristek pri pretvorbi sončne energije v električno, ki jo sončna celica daje naprej v tokokrog. Pri izbrani
                    osvetlitvi sončne celice to pomeni čim večjo moč sončne celice. Raziskali bomo, pri kolikšni upornosti porabnika je moč največja.<br /><br />

                    Če je moč stalna, je električna energija (simbol W, enota J), ki jo vir daje ali porabnik prejema, kar produkt moči in časa: W = P * t.
                    Če se moč s časom spreminja, je to v enačbi potrebno upoštevati tako, da se v vsakem časovnem razdobju upošteva ustrezno trenutno moč.
                </p>

                <h4 style="color: blue; margin-top: 30px;" class='section-heading'>Način izvajanja eksperimenta</h4>

                <div class="col-lg-12">
                    <div class="row featurette">
                        <div class="col-md-1">
                            <i class="fa fa-plane fa-5x" style="color: red;"></i>
                            <!--<img class="img-circle" alt="Zahtevnejši način" style="width: 80px; height: 80px; margin-top: 10px; border: 2px solid red;">-->
                        </div>
                        <div class="col-md-11" style="text-align: center">
                            <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Zahtevnejši način izvajanja</p>
                            <p class='lead'>
                                Za zahtevnejši način izvajanja eksperimenta, kjer je natančno razložena merilna shema in način priključitve Red Pitaye ne pa tudi
                                konkretne povezave elementov na preskusni ploščici, kliknite na <a href="index.html?page=soncna-celica-tezji">to povezavo</a>.
                            </p>
                        </div>
                    </div><br>

                    <div class="row featurette">
                        <div class="col-md-1">
                            <i class="fa fa-car fa-4x" style="color: orange;"></i>
                        </div>
                        <div class="col-md-11" style="text-align: center">
                            <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Srednje zahteven način izvajanja</p>
                            <p class='lead'>
                                Za srednje zahteven način izvajanja eksperimenta, ki vključuje tudi natančen opis povezav elementov na preskusni ploščici ter povezav z Red Pitayo,
                                kliknite na <a href="index.html?page=soncna-celica-srednji">to povezavo</a>.
                            </p>
                        </div>
                    </div><br>

                    <div class="row featurette">
                        <div class="col-md-1">
                            <i class="fa fa-bicycle fa-4x" style="color: #01DF01"></i>
                        </div>
                        <div class="col-md-11" style="text-align: center;">
                            <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Enostavni način izvajanja</p>
                            <p class='lead'>
                                V enostavnem načinu izvajanja so povezave že narejene, potrebna je le priključitev Red Pitaye. Kliknite na <a href="index.html?page=soncna-celica-lazji">to povezavo</a>.
                            </p>
                        </div>
                    </div><br>
                </div>
            </div>


            <h4 style="color: blue; margin-top: 30px;" class='section-heading'>Dodatni eksperimenti iz sončne celice</h4>
            <p class="lead">
                S pomočjo aplikacije ste izvedli osnovne električne meritve sončne celice. Sedaj, ko poznamo njene osnovne lastnosti ter njeno I-U karakteristiko, si zamislimo še druge poskuse:
            </p>

            <p class='lead'>
                <ol class='lead'>
                    <li>Kakšna je I-U karakteristika, če dve merilni celici zvežemo zaporedno? Kaj pa, če ju zvežemo vzporedno? Kakšne so razlike v karakteristikah? Katera oblika vezave je bolj ugodna?</li>
                    <li>Meritve s sončno celico je najzanimiveje opravljati na soncu na prostem. Spremljamo lahko njen odziv, ko se spreminja položaj sonca, zjutraj, zvečer ali ko se nebo pooblači.</li>
                    <li>Kaj pa, če je ena celica zatemnjena, ostale pa ne? Kakšen je odziv takrat?</li>
                    <li>Zanimivo je z osciloskopom pogledati časovno spreminjanje toka in napetosti, če sončno celico osvetljujemo z žarnico na žarilno nitko.
                        Zamenjamo aplikacijo Sončna celica z aplikacijo Osciloskop in tam izberemo časovno območje, npr. 50 ms ...</li>
                    <li>Zamislite si lastne poskuse. Z veseljem bomo pogledali vaš projekt in rezultate. Pošljite nam jih na elektronski naslov
                        <a href="mailto:e.eksperimenti@guest.arnes.si">e.eksperimenti@guest.arnes.si</a>.</li>
                </ol>
            </p>

            <h4 style="color: blue; margin-top: 30px;" class='section-heading'>Za radovedne</h4>
            <p class='lead'>
                <ol class='lead'>
                    <li>Izkoristek sončne celice, torej koliko sončne energije celica pretvori v električno, je zelo pomemben podatek. Izkoristek je najbolj odvisen od snovi, iz katere
                        je sončna celica izdelana. Monokristalne silicijeve celice so dražje, a imajo večji izkoristek. V laboratoriju je njihov izkoristek do 25 %, v praksi pa do 15 %.
                        Polikristalne celice dosegajo v laboratoriju izkoristek do 21 %, v praksi pa med 13 % in 15 %. Najcenejše so amorfne silicijeve celice, ki v laboratoriju dosegajo
                        izkoristek do 12 %, v proizvodnji pa le od 5 % do 8 %. <a href="http://www.soncneelektrarne.com/ucinkovitost-solarnih-modulov/ ">Vir.</a>
                    </li>

                    <li>Ali veste, da v Sloveniji proizvajamo sončne elektrarne? V podjetju <a href="www.bisol.com ">Bisol</a> v Preboldu sestavljajo iz sončnih celic
                        vrhunske fotonapetostne module. Poleg tega imamo v Sloveniji zelo uspešno raziskovalno skupino, ki deluje na področju modeliranja, simulacije
                        in karakterizacije sončnih celic v <a href="http://lpvo.fe.uni-lj.si/raziskave/fotovoltaika/">Laboratoriju za fotovoltaiko in optoelektroniko</a> na Fakulteti
                        za elektrotehniko Univerze v Ljubljani. Sončno celico, ki jo uporabljamo v eEksperimentih, so izdelali prav v tem laboratoriju.
                    </li>

                    <li>Trenutno na svetu s pomočjo sončnih celic pridobimo manj kot 1 % vse električne energije. Ključni podatek pri množični uporabi sončnih celic je cena
                        namestitve na 1 kilovat (1 kW = 1000 W) električne moči. Površina modulov, ki dajejo 1 kW moči in imajo izkoristek med 13 % in 14 %, je med 7 in 8 m<sup>2</sup>.
                    </li>

                    <li>V Sloveniji znaša sončno obsevanje na površinsko enoto približno 1242 kWh/m<sup>2</sup>. <a href="http://www.solarna-tehnologija.si/DobroJeVedeti/MalaSoncnaElektrarna ">Vir.</a></li>

                    <li>Največji izkoristek sončnih celic (kar 46 %) so glede na spletne vire dosegli raziskovalci iz
                        <a href="http://www.ise.fraunhofer.de/en/press-and-media/press-releases/press-releases-2014/new-world-record-for-solar-cell-efficiency-at-46-percent">Frauenhoferjevega inštituta</a>
                        v sodelovanju s francoskim podjetjem <a href="http://www.soitec.com/en/index.php">Soitec</a>. Tekma se nadaljuje.
                    </li>
                </ol>
            </p>
            <a href="/soncna_celica/" target="_blank"  class='btn btn-default btn-lg exp-btn'><span>Zaženi aplikacijo</span></a>
        </div>
    </div>
</div> <!-- /.container -->