<div id='sound-speed-desc' class='content-section-a'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12 col-sm-6'>
                <div class='clearfix'></div>
                <h2 class='section-heading'>Hitrost zvoka</h2>
                <h4 style="color: blue;" class='section-heading'>Kratek opis eksperimenta</h4>

                <p class='lead col-lg-12'>
                    V eksperimentu uporabite Red Pitayo, prototipni ploščici, vezice, ultrazvočna pretvornika in upor.
                    En ultrazvočni pretvornik bo uporabljen kot oddajnik ultrazvočnega signala, drugi pa kot sprejemnik.
                    Z Red Pitayo ustvarimo kratek pisk, ki ga vodimo na oddajnik. S sprejemnikom v povezavi z merilno kartico
                    lahko oddan pisk ponovno zaznamo. Če poznamo razdaljo med oddajnikom in sprejemnikom ter čas, ki ga je
                    ultrazvočni signal potreboval da je prepotoval od oddajnika do sprejemnika, lahko določimo hitrost zvoka
                    v zraku. V nadaljevanju bomo ugotovili, da to lahko storimo na več načinov. Sami si lahko zamislite še
                    vrsto drugih eksperimentov z ultrazvokom in jih opišite.
                </p>

                <h4 style="color: blue; margin-top: 30px;" class='section-heading'>Način izvajanja eksperimenta</h4>

                <div class="col-lg-12">
                    <div class="row featurette">
                        <div class="col-md-1">
                            <i class="fa fa-plane fa-5x" style="color: red;"></i>
                            <!--<img class="img-circle" alt="Zahtevnejši način" style="width: 80px; height: 80px; margin-top: 10px; border: 2px solid red;">-->
                        </div>
                        <div class="col-md-11" style="text-align: center">
                            <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Zahtevnejši način izvajanja</p>
                            <p class='lead'>
                                Pri zahtevnejšem načinu izvajanja je natančno razložena merilna shema in način
                                priključitve Red Pitaye. Ne podamo pa konkretnih povezav elementov na preskusni ploščici
                                in fizikalnih enačb za izračun hitrosti zvoka. Za zahtevnejši način izvajanja eksperimenta kliknite na
                                <a href="index.html?page=hitrost-zvoka-tezji">to povezavo</a>.
                            </p>
                        </div>
                    </div><br>

                    <div class="row featurette">
                        <div class="col-md-1">
                            <i class="fa fa-car fa-4x" style="color: orange;"></i>
                        </div>
                        <div class="col-md-11" style="text-align: center">
                            <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Srednje zahteven način izvajanja</p>
                            <p class='lead'>
                                Za srednje zahteven način izvajanja eksperimenta, ki vključuje tudi natančen opis
                                povezav elementov na preskusni ploščici ter povezav z Red Pitayo, kliknite na
                                <a href="index.html?page=hitrost-zvoka-srednji">to povezavo</a>.
                            </p>
                        </div>
                    </div><br>

                    <div class="row featurette">
                        <div class="col-md-1">
                            <i class="fa fa-bicycle fa-4x" style="color: #01DF01"></i>
                        </div>
                        <div class="col-md-11" style="text-align: center;">
                            <p style="font-size: 20px; text-align: left; margin-bottom: 5px">Enostavni način izvajanja</p>
                            <p class='lead'>
                                V enostavnem načinu izvajanja je natančno opisan način povezave elementov ter tudi način
                                določanja (formule) hitrosti zvoka iz meritev.
                                Kliknite na <a href="index.html?page=hitrost-zvoka-lazji">to povezavo</a>.
                            </p>
                        </div>
                    </div><br>
                </div>
            </div>


            <h4 style="color: blue; margin-top: 30px;" class='section-heading col-lg-12'>Dodatni eksperimenti</h4>
            <p class="lead col-lg-12">
                S pomočjo aplikacije ste izvedli osnovne električne meritve sončne celice. Sedaj, ko poznamo njene osnovne lastnosti ter njeno I-U karakteristiko, si zamislimo še druge poskuse:
            </p>
            <p class='lead col-lg-12'>
                <ul class='lead'>
                    <li>Naredite poskuse z odbojem ultrazvoka. Kako se ultrazvok odbija od različnih materialov. Če so razlike jih poskušajte pojasniti.</li>
                    <li>Ali list papirja med sprejemnikom in oddajnikom »zaustavi« ultrazvok? Kaj pa drugi materiali? </li>
                    <li>Kaj se zgodi, če spremenite frekvenco oddajnega signala? Ali lahko še vedno opravimo meritve?</li>
                    <li>Zamislite si načine koristne uporabe ultrazvoka. Lahko si pomagate tudi z iskanjem po  svetovnem spletu.</li>
                    <li>Sami si zamislite svoje eksperimente in jih izvedite.</li>
                    <li>S pomočjo oddajno-sprejemnega para lahko izmerite razdaljo do ovire. Tovrstni princip izkorišča
                        sistem za pomoč pri parkiranju avtomobila. Iz časa od trenutka oddaje do sprejema ob znani hitrosti
                        širjenja zvočnega valovanja lahko izračunate razdaljo do ovire. Opozoriti velja, da zvok prepotuje
                        od oddajnika do ovire in nato od ovire nazaj. Merjena razdalja do ovire je torej samo polovica tiste,
                        ki jo zvok prepotuje.
                    </li>
                </ul>
            </p>

            <p class='lead col-lg-12'>
                <img src='img/Hitrost-zvoka-sonce.png' alt="Hitrost zvoka" style="margin-top: 10px; align:center">
            </p>

            <h4 style="color: blue; margin-top: 30px;" class='section-heading col-lg-12'>Za radovedne</h4>
            <p class='lead col-lg-12'>
            <ol class='lead'>
                <li>Kot mikrofon lahko uporabite tudi navadne slušalke. Če priključek slušalk potisnete v vtič za mikrofon in v slušalke močno kričite, bi morali zaznati signal.</li>

                <li>Netopirji imajo sicer dobre oči a za zaznavanje ovir v prostoru uporabljajo ultrazvok. Imajo
                    sposobnost generiranja zvoka zelo visokih frekvenc (do 100 000 Hz), kar je mnogo več, kot je
                    sposobno zaznati človeško uho (do 20 000 Hz oz. 20 kHz). Odboj zvoka zaznajo z ušesi, ki sta
                    zamaknjeni tako, da lahko iz različne zaznave zvoka v ušesu zaznajo ovire v prostoru. In tudi
                    žuželke, ki jim teknejo. Takemu načinu zaznavanju strokovno rečemo eholociranje. Z uporabo
                    ultrazvočnih mikrofonov je mogoče poslušati njihovo »čebljanje«.  Tak način zaznavanja
                    uporabljajo tudi nekatere druge živali, na primer delfini.
                    <p><img src='img/netopir.jpg' alt="Netopir in zvok" style="margin-top: 10px; "></p>
                </li>

                <li>Zaznavanje odboja ultrazvoka se koristno uporablja na mnogo področjih. Omenimo lahko diagnostiko
                    v medicini, kjer je na primer z merjenjem odboja ultrazvočnih signalov mogoče opazovati zarodek.
                    To pa zato, ker se ultrazvok različno širi po različnih snoveh. Hitrost širjenja zvoka v maščobnem
                    tkivu je nekoliko manjša kot v mišičnem in še manjša kot v kosteh. Na meji med snovmi z različnimi
                    gostotami in hitrostmi zvoka pride do različnega delnega odboja ultrazvoka, kar zaznamo z merilniki
                    ultrazvoka in rekonstruiramo sliko.
                    <p><img src='img/ultrazvok.png' alt="Netopir in zvok" style="margin-top: 10px;"></p>
                </li>
            </ol>
            </p>
            <a href='#' class='btn btn-default btn-lg exp-btn'><span>Zaženi aplikacijo</span></a>
        </div>
    </div>
</div> <!-- /.container -->