<div id="team">
    <div class="container">
        <div class="row">

            <!-- Projektna skupina -->
            <div class="col-md-4" style="height: 300px;">
                <div class="clients-comments text-center">
                    <img src="img/dejan_krizaj.jpg" class="img-circle" alt="Dejan Križaj">
                    <h4><span>prof. dr. Dejan Križaj</span>,<br /><a href="mailto:dejan.krizaj@fe.uni-lj.si">dejan.krizaj@fe.uni-lj.si</a></h4>
                    <h4>Vodja projekta, idejna zasnova<br /> </h4>
                </div>
            </div>

            <div class="col-md-4" style="height: 300px;">
                <div class="clients-comments text-center">
                    <img src="img/borut_pecar.jpg" class="img-circle" alt="Borut Pečar">
                    <h4><span>as. dr. Borut Pečar</span>,<br /><a href="mailto:borut.pecar@fe.uni-lj.si">borut.pecar@fe.uni-lj.si</a></h4>
                    <h4>Pomočnik vodje, pisec scenarijev, lektor</h4>
                </div>
            </div>

            <div class="col-md-4" style="height: 300px;">
                <div class="clients-comments text-center">
                    <img src="img/peter_oblak.jpg" class="img-circle" alt="Peter Oblak">
                    <h4><span>mag. Peter Oblak, dipl. inž. el.</span>,<br /><a href="mailto:peter.oblak@hotmail.com">peter.oblak@hotmail.com</a></h4>
                    <h4>Programer, izdelovalec vezij</h4>
                </div>
            </div>

            <div class="col-md-4" style="height: 300px; margin-top: 60px;">
                <div class="clients-comments text-center">
                    <img src="img/gjorgji_nusev.jpg" class="img-circle" alt="Gjorgji Nusev">
                    <h4><span>Gjorgji Nusev, uni. dipl.inž. el.</span>,<br /><a href="mailto:gjorgji.nusev@fe.uni-lj.si">gjorgji.nusev@fe.uni-lj.si</a></h4>
                    <h4>Načrtovanje in izdelava elektronskih vezij</h4>
                </div>
            </div>

            <div class="col-md-4" style="height: 300px; margin-top: 60px;">
                <div class="clients-comments text-center">
                    <img src="img/alenka_kavcic.jpg" class="img-circle" alt="Alenka Kavčič">
                    <h4><span>viš. pred. dr. Alenka Kavčič</span>,<br /><a href="mailto:alenka.kavcic@fri.uni-lj.si">alenka.kavcic@fri.uni-lj.si</a></h4>
                    <h4>Spletna in aplikacijska podpora</h4>
                </div>
            </div>

            <div class="col-md-4" style="height: 300px; margin-top: 60px;">
                <div class="clients-comments text-center">
                    <img src="img/jurij_bajc.jpg" class="img-circle" alt="Jurij Bajc">
                    <h4><span>doc. dr. Jurij Bajc</span>,<br /><a href="mailto:jurij.bajc@pef.uni-lj.si"></a></h4>
                    <h4>Vodja projekta na Pedagoški fakulteti</h4>
                </div>
            </div>

            <div class="col-md-4" style="height: 300px; margin-top: 60px;">
                <div class="clients-comments text-center">
                    <img src="img/marko_meza.jpg" class="img-circle" alt="Marko Meža">
                    <h4><span>doc. dr. Marko Meža</span>,<br /><a href="mailto:marko.meza@fe.uni-lj.si"></a></h4>
                    <h4>Pisec scenarijev, eksperiment Prehodni pojav na žarnici</h4>
                </div>
            </div>

            <div class="col-md-4" style="height: 300px; margin-top: 60px;">
                <div class="clients-comments text-center">
                    <img src="img/barbara_rovsek.jpg" class="img-circle" alt="Barbara Rovšek">
                    <h4><span>as. dr. Barbara Rovšek</span>,<br /><a href="mailto:barbara.rovsek@pef.uni-lj.si"></a></h4>
                    <h4>Didaktik, lektor</h4>
                </div>
            </div>

            <!-- Zunanji sodelavci -->

            <div class="col-md-4" style="height: 300px; margin-top: 60px;"">
                <div class="clients-comments text-center">
                    <img src="img/zumret_topcagic.jpg" class="img-circle" alt="Zumret Topčagić">
                    <h4><span>Zumret Topčagić, dipl.ing.el.</span>,<br /><a href="mailto:zumret.topcagic@fe.uni-lj.si">zumret.topcagic@fe.uni-lj.si</a></h4>
                    <h4>Vodja projektov pri podjetju <a id="pitaya" href="http://redpitaya.com/">Red Pitaya</a>; opis delovanja merilne platforme Red Pitaya</h4>
                </div>
            </div>

            <div class="col-md-4" style="height: 300px; margin-top: 60px;">
                <div class="clients-comments text-center">
                    <img src="img/polona_stefanic.jpg" class="img-circle" alt="Polona Štefanič">
                    <h4><span>Polona Štefanič</span>,<br /><a href="mailto:polly.st@gmail.com">polly.st@gmail.com</a></h4>
                    <h4>Razvijalka spletnih aplikacij pri Red Pitayi</h4>
                </div>
            </div>

            <div class="col-md-4" style="height: 300px; margin-top: 60px;">
                <div class="clients-comments text-center">
                    <img src="img/samo_mikus.jpg" class="img-circle" alt="Samo Mikuš">
                    <h4><span>Samo Mikuš</span>,<br /><a href="mailto:samo.mikus13@gmail.com">samo.mikus13@gmail.com</a></h4>
                    <h4>Razvoj aplikacij</h4>
                </div>
            </div>


            <div class="col-md-4" style="height: 300px; margin-top: 60px;">
                <div class="clients-comments text-center">
                    <img src="img/simon_beltram.jpg" class="img-circle" alt="Simon Beltram">
                    <h4><span>Simon Beltram</span>,<br /><a href="mailto:simon.beltram@gmail.com">simon.beltram@gmail.com</a></h4>
                    <h4>Razvoj aplikacij</h4>
                </div>
            </div>

            <div class="col-md-4" style="height: 300px; margin-top: 60px;">
                <div class="clients-comments text-center">
                    <img src="img/miha_mencin.jpg" class="img-circle" alt="Miha Mencin">
                    <h4><span>Miha Mencin</span>,<br /><a href="mailto:miha_mencin@hotmail.com">miha_mencin@hotmail.com</a></h4>
                    <h4>Razvoj aplikacij</h4>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div>
