body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Calibri Light', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Calibri Light', sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/bg2.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    /*text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    /*text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}


.content-section-a,
.content-section-c,
.content-section-e {
    padding: 50px 0;

}

.content-section-b,
.content-section-d {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;

    background-color: #f8f8f8;
}

#exp1_hard, #exp1_medium, #exp1_easy,
#exp2_hard, #exp2_medium, #exp2_easy,
#exp3_hard, #exp3_medium, #exp3_easy,
#exp4_hard, #exp4_medium, #exp4_easy,
#exp5_hard, #exp5_medium, #exp5_easy {
    display: none;
}

#exp1_easy_op, #exp1_medium_op, #exp1_hard_op,
#exp2_easy_op, #exp2_medium_op, #exp2_hard_op,
#exp3_easy_op, #exp3_medium_op, #exp3_hard_op,
#exp4_easy_op, #exp4_medium_op, #exp4_hard_op,
#exp5_easy_op, #exp5_medium_op, #exp5_hard_op {
    font-size: 0.8em;
}

.exp-btn {
    margin-top: 20px;
    margin-right: 10px;
}

.link-design {
    color: black;
}

.link-design:hover {
    text-decoration: none;
    color: #888;
}

.link-design:active {
    text-decoration: none;
    color: #aaa;
}


.link-design:focus {
    text-decoration: none;
    color: #777;
}


.clients-comments {
    background-position: center 118px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.clients-comments img {
    /*background:#DDDDDD;*/
    /*border: 1px solid #DDDDDD;*/
    height: 182px;
    padding: 3px;
    width: 182px;
}

.clients-comments h3 {
    margin-top: 10px;
    font-weight: 300;
    padding: 0 40px;
}

.clients-comments h4 {
    font-weight: 300;
    margin-top: 20px;
}


.clients-comments  h4  span {
    font-weight: 700;
}

.img-circle {
    border-radius: 50%;
}
img {
    vertical-align: middle;
}

#img-div img {
    width: 100%;
    height: 100%;
}

#img-div img:hover {
    content: url('../img/elektriÄni_naboj_2.jpg');
}

#info {
    padding-left: 8px;
    /*border: 1px solid yellow;*/
}

.intro-text {
    color: #000;
    font-size:1.5em;
}

#pitaya {
    color: #fff;
    background: red;
}

.exercise-box {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, skyblue));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,  skyblue 100%); /* Chrome 10+, Safari 5.1+ */
    background: -moz-linear-gradient(top, #ffffff 0%,  skyblue 100%); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top,#ffffff 0%,  skyblue 100%); /* IE 10+ */
    background: -o-linear-gradient(top, #ffffff 0%,  skyblue 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #ffffff 0%,  skyblue 100%);

}

.intro-message h1,
.intro-message h3 {
    color: #000;
}

.limit-line {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 0.8em;
    color: yellowgreen;
}

#abstract {
    background-color: #fff;
}

.exp_video, .exp_image {
    margin-top: 30px;
    margin-bottom: 40px;
}

.nav li:hover {
    background-color: #d5d5d5;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    /*background: url(../img/banner-bg.jpg) no-repeat center center;*/
    background-color: #f8f8f8;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    /*text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
    font-size: 3em;
    color: black;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

iframe.quiz {
    width: 1200px;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
    #logo {
        width:30%;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    #logo {
        width:30%;
    }
}

/*
footer {
    padding: 50px 0;
    background-color: f8f8f8;
}
*/


.pitaya-vklop {
    border-radius: 5px;
    border: 1px solid #999;
    padding: 12px;
    height: 200px;
}

.pitaya-vklop2 {
    border-radius: 5px;
    border: 1px solid #999;
    padding: 8px;
    height: 1000px;
}

.zip-pitaya {
    width: 90px;

}

.modal-header,
.bootstrap-dialog-header {
    display: none;
}

#turnon-redpitaya {
    text-decoration: none;
    color: black;
}

#jsonpContainer{
    display: none;
}