form header div {
    font-size: 90%;
    color: #999;
}

form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
    margin: 0 0 5px 0;
}
form > div > label,
legend {
    width: 25%;
    float: left;
    padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
    width: 75%;
    float: right;
}
form > div > fieldset label {
    font-size: 90%;
}
fieldset {
    border: 0;
    padding: 0;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=password] {
    width: 50%;
    color: #888;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: 0;
    border-color: #4697e4;
}

@media (max-width: 600px) {
    form > div {
        margin: 0 0 15px 0;
    }
    form > div > label,
    legend {
        width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }
    form > div > div,
    form > div > fieldset > div {
        width: 100%;
        float: none;
    }
    input[type=text],
    input[type=email],
    input[type=password],
    select {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    form > div > label,
    legend {
        text-align: right;
    }
}


#login-form .container form {
    margin-top: 200px;

}

/*  ******************************************************************** */
.wrap {
    max-width: 48em;
    margin: 0 auto;
    padding: 2.5em 0 4em;
}

section {
    position: relative;
    padding: 30px 20px;
    width: 100%;
    min-height: 12em;
    float: left;
    /*background: #fafafa;*/
    background: #fff;
    /*border-top: 1px solid #eeeeee;*/
    /*border-left: 1px solid #eeeeee;*/
    border: 1px solid #eee;
}
section:nth-child(even) {
   /* border-right: 1px solid #eeeeee;*/
}
section.item-incorrect {
    /*background: #f6f6f6;*/
    background: #fff;
}
section.item-incorrect:before {
    position: absolute;
    z-index: 399;
    bottom: 0;
    right: 0;
    content: "";
    height: 0;
    width: 0;
    border: 35px solid;
    border-color: transparent #DD0000 #DD0000 transparent;
}
section.item-incorrect:after {
    line-height: 1.4;
    position: absolute;
    z-index: 499;
    font-family: 'fontawesome';
    content: "";
    bottom: 0;
    right: 7px;
    font-size: 1.9em;
    color: #FF3333;
}
section.item-correct:before {
    position: absolute;
    z-index: 399;
    bottom: 0;
    right: 0;
    content: "";
    height: 0;
    width: 0;
    border: 35px solid;
    border-color: transparent #00DB00 #00DB00 transparent;
}
section.item-correct:after {
    line-height: 1.4;
    position: absolute;
    z-index: 499;
    font-family: 'fontawesome';
    content: "";
    bottom: 0;
    right: 7px;
    font-size: 1.9em;
    color: #53FF53;
}

input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

input[type="radio"] + label {
    background: #fff;
    display: block;
    padding: 5px 15px;
    margin: 5px 10px 5px 0;
    /*border: 1px solid #eeeeee;*/
    border: none;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input[type="radio"] + label.correct {
    background: limegreen;
}

input[type="radio"] + label:before {
    content: "\f10c";
    font-family: 'fontawesome';
    margin-right: 7px;
    color: #00aced;
}
input[type="radio"] + label:hover {
    cursor: pointer;
}

input[type="radio"]:checked + label {
    /*border: 1px solid #5bc0de;*/
    color: #00aced;
    background: #afd9ee;
}

input[type="radio"]:checked + label:before {
    content: "\f192";
    color: #00aced;
}

.question {
    font-size: 1.4em;
    color: #777;
}

.submit {
    padding: 20px 5px;
}

.submit button {
    display: block;
    outline: none;
    width: 300px;
    margin: 1em auto 1.5em;
    padding: .8em 1em;
    background: #f8f8f8;
    color: gainsboro;
    /*text-transform: uppercase;*/
    letter-spacing: 3px;
    border: 1px solid #eeeeee;
}

.emc-score {
    text-align: center;
    opacity: 0;
    padding: 0;
    -webkit-transition: all 0.55s ease;
    -moz-transition: all 0.55s ease;
    transition: all 0.55s ease;
    font-size: 1.4em;
}
.emc-score.new-score {
    opacity: 1;
    background: #00aced;
    color: #fbfbfb;
    padding: 20px;
}

.emc-submit {
    position: relative;
    -webkit-transition: all 0.33s ease;
    -moz-transition: all 0.33s ease;
    transition: all 0.33s ease;
}

.emc-submit.ready-show {
    color: black;
    background: #00aced;
    border: none;
    font-size: 1.3em;
    /*background: #2dceb1;
    color: #1f8f7b;
    border: none;
    border-bottom: 2px solid #26af96;*/
    box-shadow: 0 1px 1px rgba(68, 68, 68, 0.2);
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
}

.emc-submit.ready-show:hover {
    color: #fbfbfb;
    background: #005ecf;
    /*background: #27b198;*/
    /*border-color: #1f8f7b;*/
}

.emc-submit.ready-show:active {
    top: 2px;
    border-bottom: none;
}

#emc-progress {
    height: 100%;
    border: 1px solid #1f8f7b;
    background: #2dceb1;
}

#emc-progress_inner {
    width: 100%;
    height: 0;
    background: #1f8f7b;
    -webkit-transition: height 0.33s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: height 0.33s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: height 0.33s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#emc-progress_ind {
    position: absolute;
    display: block;
    width: 100%;
    font-size: .7em;
    font-weight: bold;
    padding: 7px 5px 5px;
    top: 0;
    left: 0;
    text-align: center;
    color: #1f8f7b;
}

.attrib {
    padding: 10px 0;
    text-align: center;
}
.attrib i {
    margin-right: 7px;
    margin-left: 7px;
}




/* ************************************************* */
.btn-close {
    color: #aaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.btn-close:hover {
    color: #909090;
}

/*
.modal:before {
    content: "";
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.modal:target:before {
    -webkit-transition: -webkit-transform 0.9s ease-out;
    -moz-transition: -moz-transform 0.9s ease-out;
    -o-transition: -o-transform 0.9s ease-out;
    transition: transform 0.9s ease-out;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    text-align: justify;
}

.modal:target + .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
}

.modal-dialog {
    background: #fefefe;
    border: #333 solid 1px;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 360px;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.modal-body {
    padding: 20px;
}

.modal-header,
.modal-footer {
    padding: 10px 20px;
    border: none;
}

.modal-footer {
    text-align: right;
}
*/

#show-answer-1,
#show-answer-2,
#show-answer-3,
#show-answer-4 {
}

.quiz-answer {
    display: none;
}